[2020-08-27 09:28] ankiiitraj opened #1 "[Discuss] DB"
Should we use SQL or NoSQL?

[2020-08-27 09:30] ankiiitraj commented on #1
My opinion: Since the DB is going to be very simple, We should go for MySQL.
This is also going to be helpful for new contributors as our curriculum also have SQL.

[2020-08-27 12:39] EmperorYP7 commented on #1
I think SQL will be fine. Although I don't personally like it much! 😅

[2020-08-27 12:46] ankiiitraj commented on #1
so we can start with I think express mysql
We can start writing Models, Schemas and routes

[2020-08-27 12:47] ankiiitraj commented on #1
let me remind all after setting the base work

[2020-08-27 12:49] EmperorYP7 commented on #1
Alright sir. Should I start working on React frontend?

[2020-08-27 13:24] ankiiitraj commented on #1
That will be discussed with all the community members

[2020-08-28 14:06] EmperorYP7 commented on #1
Not going to lie, I am changing my mind.😅 I think MongoDB will be better. Even for a project as small as this one.

[2020-08-30 15:33] prskid1000 commented on #1
If we are working on Nodejs i think MongoDB will be better.

[2020-09-07 10:12] ankiiitraj opened #10 "make schema of Notification"
### Description
 - [x] Notification Schema

### Screenshots/testimonials
NA

[2020-09-07 10:12] ankiiitraj commented on #10
working on it!

[2020-09-07 17:28] EmperorYP7 opened #11 "Making basic file structure"
### Description
The `src` folder in client needs to be refactored. The basic **component structure** is to be updated.

### Screenshots/testimonials
NA

[2020-09-07 17:30] EmperorYP7 commented on #11
May I start working on this @ankiiitraj?

[2020-09-07 17:32] ankiiitraj commented on #11
go for it
also we need to create more of front-end issues for communtiy members to work upon

[2020-09-09 09:41] ankiiitraj commented on #11
Closing this against PR #12

[2020-09-09 09:41] #11 closed

[2020-09-09 09:42] ankiiitraj commented on #10
Closing this against #13

[2020-09-09 09:42] #10 closed

[2020-09-09 10:01] ankiiitraj opened #14 "Admin Schema and Route"
### Description
Create admin schema, routes and controllers

### Screenshots/testimonials
NA

[2020-09-09 10:01] ankiiitraj commented on #14
on it!

[2020-09-09 10:05] ankiiitraj opened #15 "404 Page"
### Description
Design a 404 Not Found Component
 - Be creative and make it look geeky and codey :p

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-09 10:38] EmperorYP7 opened #16 "Styling the navbar"
### Description
Format the navbar using bootstrap classes or custom CSS and make the `active` hook to rely on current URL instead of the lifecycle of the component.

### Concerned Files
https://github.com/houseofgeeks/hg/blob/front-end/client/src/components/Navbar/Navbar.css
https://github.com/houseofgeeks/hg/blob/front-end/client/src/components/Navbar/Navbar.js

### Screenshots/testimonials

Wire

[2020-09-09 11:02] EmperorYP7 opened #17 "Footer component"
### Description

Making the footer according to the wireframe. Try to stick to bootstrap for styling. I think we should include the Contact Us section to the footer instead of having it in home page. What say?

### Concerning Folder

https://github.com/houseofgeeks/hg/tree/front-end/client/src/components/Footer

### Screenshots/testimonials

Footer wireframe

![Screenshot (339)](https://user-image

[2020-09-09 16:26] tusharjain0022 commented on #17
Yes we can add Contact Us Section with the footer ,  For this we'll also have to change the background color code so that white fonts and icons can be visible.
May I work on this ??

[2020-09-09 16:44] EmperorYP7 commented on #17
Go ahead @tusharjain0022! Remember to make the relevant changes to the **front-end branch**. After you are done, create a PR that compares houseofgeeks:front-end to your front-end.

[2020-09-09 18:39] tusharjain0022 commented on #17
I've a suggestion , what if we design our footer like this(1st image) the HG logo will be visible  on min screen-size 768px Inplace of (2nd image) :
![Screenshot (368)](https://user-images.githubusercontent.com/59157988/92638913-b1fa3f00-f2f8-11ea-81b9-25e70fc22c4e.png)
Inplace of this :
![Screenshot (367)](https://user-images.githubusercontent.com/59157988/92638973-ca6a5980-f2f8-11ea-8c2a-84db0bd

[2020-09-09 18:46] EmperorYP7 commented on #17
It is interesting. Sounds good to me! @ankiiitraj what do you say?

[2020-09-09 18:49] ankiiitraj commented on #17
looks perfect go for it!

[2020-09-09 18:58] tusharjain0022 commented on #17
Working on it !!!

[2020-09-10 05:49] EmperorYP7 opened #18 "making the Sponsors page"
### Description
I think we should use functional component and hooks rather than creating a class and the subsequent states. Lets stick to the wireframe for now. (suggestions are welcomed! 😄) You can add any creative modifications. Styling to be done using bootstrap classes. react-bootstrap is not preferred.

### Concerning Folder

https://github.com/houseofgeeks/hg/tree/front-end/client/src/compo

[2020-09-10 05:58] RishavMz commented on #16
The active hook can be made to rely on current URL by extracting the part from URL after the last occurrence of '/'

[2020-09-10 06:58] EmperorYP7 commented on #16
Great that you figured out @RishavMz! Do consider creating a Pull Request to solve this issue. :wink:

[2020-09-10 09:17] RishavMz commented on #16
Ok. I'm working on it !

[2020-09-10 16:11] Abhayraj1707 commented on #18
i m interested to work on this component should i start working on it ??

[2020-09-10 16:14] EmperorYP7 commented on #18
That's great @Abhayraj1707! Go for it.. 😄

[2020-09-10 17:02] sandesh-08 commented on #15
I am interested in making this component . Should I start working on it

[2020-09-10 17:04] EmperorYP7 commented on #15
That's awesome @sandesh-08! 😄 Looking forward for your contribution.. 🙌🏻

[2020-09-11 06:55] tusharjain0022 opened #22 "Making About Us Section"
### Description
<write your description> Designing About Section in concerning folder . Images in about section should stack upon each other and on hover over specific image, it should come in front (its stack order becomes greater than the others on hover over it using z-index), refer to the wireframe or screenshot attached below for better clarification .Styling to be done using bootstrap classe

[2020-09-11 11:30] tusharjain0022 opened #23 "Adding images and color code used in WireFrame"
### Description
<write your description> Landing Page image and some other images along with Color Coding used in making Wireframe is not present or specified in the concerned folder in master branch

### Concerning Folder
https://github.com/houseofgeeks/hg/tree/master/WireFrame

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-11 11:31] tusharjain0022 commented on #23
May I create a PR for adding those images/text file containing color codes used to the master branch - WireFrame folder ???. So that others dont have to look for images and color codes that are being used while making the designs.

[2020-09-11 11:32] EmperorYP7 commented on #23
You may include that in #19

[2020-09-11 11:35] ankiiitraj commented on #23
naah, make another PR, that PR has already filled up !

[2020-09-11 11:38] ankiiitraj commented on #17
Closing this against #19

[2020-09-11 11:38] #17 closed

[2020-09-11 13:13] ankiiitraj commented on #23
closing against #24

[2020-09-11 13:15] #23 closed

[2020-09-11 13:39] EmperorYP7 opened #25 "Expansion of Home page"
### Description

Home page is going to have multiple sub-components for which the current file structure and the wireframe is insufficient. We'll also be having a notice board which would be retriving data from the API. #22 and forth coming issues will also be based on these sub-components. It would be better if we make the file structure for the same now.

### Concerning Folder

https://github.co

[2020-09-11 13:40] EmperorYP7 commented on #25
I am on it now! Will create a PR for this once #21 is merged.

[2020-09-11 14:18] hariom1625 opened #26 "Broken Link"
### Description
On switching tab on Navbar and then reloading the page the URL seems to be broken and doesn't render the page as specified in the URL.
### Screenshots/testimonials
![Screenshot (161)](https://user-images.githubusercontent.com/66957239/92936305-8fd2ff00-f467-11ea-8a44-cb60e7861f13.png)

[2020-09-11 14:19] hariom1625 commented on #26
On it.

[2020-09-11 16:57] RishavMz commented on #16
There seems to be a problem with CSS, I used className "logo" for the house Of Geeks logo in navbar, but it seems that it got overridden by @tusharjain0022 's commit in the footer (maybe we both were using same className )

[2020-09-11 17:01] ankiiitraj commented on #16
That will be treated as a good first bug ! Go ahead and create a bug after #21  PR gets merged

[2020-09-11 17:23] ankiiitraj commented on #16
is it okay to close this against #21

[2020-09-11 17:43] EmperorYP7 commented on #16
Yes @ankiiitraj the issue is resolved now. @RishavMz you may create a new issue for that.

[2020-09-11 17:44] #16 closed

[2020-09-12 07:33] EmperorYP7 opened #29 "Event Schema and routes"
### Description

Create event schema for storing event data in MongoDB with mongoose and relevant API routes for basic CRUD (Create-Read-Update-Delete) operations. Event data should have a title, a short description, a long description, an image path, event date, Google Calendar link and Google maps link.

### Concerning Folder

https://github.com/houseofgeeks/hg/tree/back-end/backend/models
https

[2020-09-12 11:07] ankiiitraj commented on #26
Closing against #31

[2020-09-12 11:07] #26 closed

[2020-09-12 11:08] ankiiitraj commented on #29
Working!

[2020-09-12 18:02] ankiiitraj commented on #25
Closing against #28

[2020-09-12 18:02] #25 closed

[2020-09-12 18:03] #1 closed

[2020-09-13 09:59] EmperorYP7 opened #33 "Recreating the landing page"
### Description

Since this website is going to be the face of our technical society, we should make the landing page as attractive as we can. With designers on board, let us stick to one theme for the entire website.

### Screenshots/testimonials

NA

[2020-09-13 09:59] EmperorYP7 commented on #33
I am on it!

[2020-09-14 19:08] ankiiitraj opened #36 "Create Notice Modal"
### Description
<write your description> Create notice modal and use dummy text to test

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>
NA

[2020-09-14 19:19] ankiiitraj opened #37 "complete CRUD for Notice route"
### Description
<write your description> Update and Delete operations need to be implemented

[2020-09-15 07:43] #18 closed

[2020-09-15 07:51] ankiiitraj commented on #15
closing against #30

[2020-09-15 07:52] #15 closed

[2020-09-15 07:58] sanskarseth opened #38 "Add community section."
Design the community section as the wireframe below.
![Screenshot (335)](https://user-images.githubusercontent.com/55178412/93182497-6233d180-f757-11ea-9115-e5841eea380d.png)

[2020-09-15 17:53] sj00coder commented on #38
Hello sir, I want to work on it.

[2020-09-15 17:56] sj00coder commented on #36
Hello sir I want to work on it.

[2020-09-15 18:06] deepti-iiitr commented on #38
I am interested in working on this. Can I start?

[2020-09-15 20:13] ankiiitraj commented on #38
You both can collaborate on this and start working. Assigned to both of you

[2020-09-15 20:14] ankiiitraj commented on #36
Hi, @sj00coder You can go ahead and work on it. Assigning this to you!

[2020-09-15 20:16] ankiiitraj commented on #14
Closing this against #35

[2020-09-15 20:16] #14 closed

[2020-09-16 04:47] sj00coder commented on #36
Sir you want to open the modal on window load or a specific button for triggering modal.
If button, then please tell the position of button.
![image](https://user-images.githubusercontent.com/65244030/93293512-c3b27980-f805-11ea-876d-dbb31a3ec9c4.png)

[2020-09-16 09:44] ankiiitraj commented on #36
won't be like that . . . it will be much more like check iiitranchi.ac.in notice . . . and try to make it awesome!

[2020-09-16 12:07] ankiiitraj opened #41 "Create admin dashboard"
### Description
<write your description>

- Admin Dashboard will have a card with admin details
and rest of the admin-functionalities components will reside in this component
### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-16 12:10] ankiiitraj opened #42 "Create admin Event controller component"
### Description
<write your description>
This component will contain

- different notices sorted by date
- With pagination
- Admin will be able to modify and delete each notice

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-16 12:15] ankiiitraj opened #43 "Create admin events controller component"
### Description
<write your description>
This component will contain

- Different events posted.
- Admin should be able to create an event
- Admin should be able to edit or delete any event
- Pagination should be there.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-16 14:49] sanskarseth commented on #43
I will like to build all the admin dashboard components.

[2020-09-16 14:51] sanskarseth commented on #41
Working on this.

[2020-09-16 14:51] sanskarseth commented on #42
Working on this too.

[2020-09-16 18:12] EmperorYP7 commented on #41
I dont think this should be handled by the front-end. We should have view engine (maybe ejs?) set up for the whole admin system which will be configured in back-end.

[2020-09-16 18:26] ankiiitraj commented on #41
Yes I agree this is not clever to send the admin build with the app, meaningless increase in build size
We're planning is sending another react app on /admin route but for development's sake, it can be built upon the same react app.
suggestions?

[2020-09-16 18:46] EmperorYP7 commented on #41
Well then we have a plathora of admin console templates available for react. Great!

[2020-09-16 19:11] ankiiitraj commented on #41
let just not go for templates now as there are community members who can implement these to learn and enhance their skills!
If we'll be tight on the schedule we can implement those.
Sounds Good?

[2020-09-17 05:15] EmperorYP7 commented on #41
Perfect :+1:

[2020-09-17 06:26] ankiiitraj commented on #22
closing against #40

[2020-09-17 06:26] #22 closed

[2020-09-17 08:07] sanskarseth opened #45 "Create admin login page"
### Description

Create an admin login page consisting of username and password in which username will already be there in a dropdown list and admin would only require to enter the password.

### Screenshots/testimonials
NA

[2020-09-17 08:07] sanskarseth commented on #45
Working on this.

[2020-09-18 09:52] ankiiitraj commented on #33
closing against #34

[2020-09-18 09:52] #33 closed

[2020-09-18 10:08] EmperorYP7 opened #49 "Remaking the Navbar"
### Description
The overall theme of the website has been changed and to match the esthetics of the website, we need to remake the navbar. The navbar should always be in a hamburger fashion in the left hand side of the viewport at all sizes. When we click on the hamburger, it should trigger an animation which fills up all of the screen with `background: #000018;`

### Screenshots/testimonials

Her

[2020-09-18 12:14] ankiiitraj commented on #49
looks impressive!

[2020-09-18 12:15] ankiiitraj commented on #37
Anyone who needs help in this can comment here!

[2020-09-18 12:22] EmperorYP7 commented on #49
Kudos to @EricLiclair! 🙌🏻

[2020-09-18 12:33] EmperorYP7 opened #51 "Recreating the footer"
### Description
In accordance to #49, there is a need to recreate the footer. Try to relocate the icons already used in the current footer. Make this component responsive by mentioning width in terms of `vw` (viewport width), using `@media` queries and so on. Create a pull request as soon as you achieve the positioning of all the vector images in accordance to the wireframe given below after which

[2020-09-18 15:34] ankiiitraj commented on #51
I have a feeling that things are going to be lit!
My initial thoughts: Current footer is great we can just replace the background image to this background!
over to the members!

[2020-09-18 15:59] EmperorYP7 commented on #51
Absolutely! 🔥

[2020-09-18 18:30] sanskarseth commented on #45
Please reassign me, i have unassigned by mistake.

[2020-09-18 18:30] sanskarseth commented on #45
![Screenshot from 2020-09-18 23-58-18](https://user-images.githubusercontent.com/55178412/93632546-1d37c580-fa0b-11ea-91a3-ac640dd10f8f.png)
Any Suggestions or its fine...

[2020-09-18 20:58] EmperorYP7 commented on #45
This looks cool to me @sanskarseth! 🤩

[2020-09-19 07:03] tusharjain0022 commented on #49
May I start working on this issue ?

[2020-09-19 16:29] ankiiitraj commented on #49
Assigning this to you @tusharjain0022

[2020-09-19 16:33] ankiiitraj commented on #37
Assigning this to myself

[2020-09-19 17:11] ankiiitraj commented on #29
Closing against #50

[2020-09-19 17:11] #29 closed

[2020-09-19 21:39] ankiiitraj commented on #38
Closing against #48

[2020-09-19 21:39] #38 closed, assigned to nobody

[2020-09-19 22:36] ankiiitraj commented on #49
closing this against #54

[2020-09-19 22:36] #49 closed, assigned to tusharjain0022

[2020-09-19 22:39] ankiiitraj opened #55 "Refactor the Hamburger icon"
### Description
Refactor the Hamburger icon so that it matches the wireframe.
Wireframe :
https://www.figma.com/proto/NyIGhH5PhxbjfDf4DNmW55/House-of-Geeks?node-id=4%3A0&viewport=867%2C-224%2C0.5157824158668518&scaling=scale-down-width

### Screenshots/testimonials
N/A

[2020-09-19 22:42] ankiiitraj commented on #51
Will try to implement this! Provide me the assets

[2020-09-19 23:05] EmperorYP7 commented on #51
https://drive.google.com/drive/folders/17JgiUf_pHC5OYK2-w1LGjcsEF7XCOkXG?usp=sharing
There you go! @ankiiitraj

[2020-09-19 23:21] EmperorYP7 opened #56 "Remaking About Us section"
### Description
Follow the provided wireframe and construct a graphically rich about us section using bootstrap and custom CSS. Achieve proper positioning and responsiveness then create a PR where we discuss about animations and see the deployment in real time.

### Screenshots/testimonials

The complete wireframe:
https://www.figma.com/proto/NyIGhH5PhxbjfDf4DNmW55/House-of-Geeks?node-id=4%3A0&sca

[2020-09-20 00:12] EmperorYP7 opened #57 "Remaking the NotFound (Error) page"
### Description

Remake the NotFound page according to the new wireframe provided using bootstrap and custom CSS. This should be made responsive. I'll be sending the assets for this page once someone is assigned.

### Screenshots/testimonials

![Desktop - 2](https://user-images.githubusercontent.com/62606998/93691521-f0b3a480-fb03-11ea-9d56-41c1e9ea6509.jpg)

### Concerning Files/Folders

https://

[2020-09-20 00:45] EmperorYP7 commented on #56
I am working on this.

[2020-09-20 06:13] ankiiitraj commented on #56
Assigning this to you @EmperorYP7

[2020-09-20 09:24] ankiiitraj commented on #55
assigning this to myself!

[2020-09-20 09:45] ankiiitraj opened #60 "Create design for Preloader"
### Description
The design should be in the relation to the current theme!
(preloader: search on google)
### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-20 12:01] ankiiitraj commented on #37
closing against #61

[2020-09-20 12:01] #37 closed

[2020-09-20 12:33] ankiiitraj commented on #55
closing against #59

[2020-09-20 12:33] #55 closed, assigned to ankiiitraj

[2020-09-21 11:09] ankiiitraj commented on #45
Closing against #58

[2020-09-21 11:09] #45 closed, assigned to sanskarseth

[2020-09-21 12:42] EmperorYP7 commented on #60
Heads up @EricLiclair, @tusharjain0022 and @hariom1625 👀

[2020-09-21 13:45] Abhayraj1707 commented on #57
I will try to implement this ! Please provide me assets.

[2020-09-21 14:19] EmperorYP7 commented on #57
https://drive.google.com/drive/folders/1-oAafqapEnkVtqu6fACBHLWq_aMNIvkF?usp=sharing
There you go @Abhayraj1707!

[2020-09-22 06:55] ankiiitraj commented on #36
No longer required closing this

[2020-09-22 06:55] #36 closed

[2020-09-22 07:15] ankiiitraj opened #63 "Refacetoring the Partners section on Landing page"
### Description
<write your description>

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-22 07:16] ankiiitraj commented on #63
@EmperorYP7  Add the required wireframe to the description!

[2020-09-22 08:47] ankiiitraj commented on #56
closing against #62

[2020-09-22 08:47] #56 closed, assigned to EmperorYP7

[2020-09-22 09:21] EmperorYP7 opened #64 "Making the Community Section"
### Description
In continuation to #56 and #62, we should be aiming to make the community section in the Home component ASAP. This component will also be rendered when the user taps/clicks on Community from the Navbar although in this case, Community should be the only component being rendered. Try sticking to the wireframe as close as possible using bootstrap and custom CSS. Hovering effects are

[2020-09-22 09:27] EmperorYP7 commented on #63
### WireFrame

https://www.figma.com/file/WKIfra7Dxh033gwNoRikh6/House-of-Geeks-Copy?node-id=0%3A1

### Wireframe for mobile

https://www.figma.com/proto/NyIGhH5PhxbjfDf4DNmW55/House-of-Geeks?node-id=107%3A74&scaling=min-zoom

![image](https://user-images.githubusercontent.com/62606998/93864973-47c3a000-fce3-11ea-9fb4-50440ab10e06.png)

[2020-09-22 09:29] ankiiitraj commented on #51
Not my cup of tea! Anyone can work on it!

[2020-09-22 09:31] EmperorYP7 commented on #51
Alright, @tusharjain0022 over to you. 🙌🏻

[2020-09-22 10:28] ankiiitraj opened #65 "Reposition the hamburger icon"
### Description
<write your description>
The current position of the hamburger icon is confusing.
Share what position it should be put so that it makes some sense of what purpose it is meant for!

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>
N/A

[2020-09-22 10:29] ankiiitraj commented on #65
@EmperorYP7 @tusharjain0022  @EricLiclair suggestions?

[2020-09-22 10:34] ankiiitraj opened #66 "hosting the backend on herouku"
### Description
<write your description>
For better CI, hosting the backed for data is important and the current best alt is Heroku.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-22 10:35] ankiiitraj opened #67 "Creating a remote MongoDB"
### Description
<write your description>
For better CI, Current alternative for free MongoDB, suggestions?

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-22 12:19] EmperorYP7 commented on #67
I've no experience in setting up CI for this. But, free DB is nice. Not the snappiest but nice.

[2020-09-22 12:22] tusharjain0022 commented on #51
Working on it!!

[2020-09-22 13:30] tusharjain0022 commented on #65
we can place it in the top right corner where hamburger icon is placed usually so that the user can easily get idea what purpose does it serve or we can also add a tooltip to the icon to make it more clear.

### Screenshot

![Screenshot (416)](https://user-images.githubusercontent.com/59157988/93891033-96376580-fd08-11ea-988b-7c4751dbc9c2.png)

[2020-09-22 16:05] ankiiitraj opened #70 "Add functionality to notice board"
### Description
<write your description>
Since the server is up and running. Add functionality to notice section.

api: /notice

result-format: {result: [], message: 'OK'}

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-22 17:01] EmperorYP7 commented on #65
@tusharjain0022 you might do some wavy shape for the hamburger icon just like in the wireframe..
https://www.figma.com/proto/NyIGhH5PhxbjfDf4DNmW55/House-of-Geeks?node-id=107%3A74&scaling=min-zoom

![image](https://user-images.githubusercontent.com/62606998/93913899-5a5dc980-fd23-11ea-85ea-6b2a73ddd6c6.png)

Also, the hamburger should be resized in mobile view as it is relatively large. The deskto

[2020-09-22 17:11] EmperorYP7 commented on #66
Yes. For now we can go for Heroku for CI. #69 #68 had it clear. Are we up and running on heroku?

[2020-09-22 17:13] EmperorYP7 commented on #51
@tusharjain0022 you might need this.
https://www.figma.com/file/q2CSK29UovyGQtUOc9BP4v/House-of-Geeks-Copy?node-id=0%3A1

[2020-09-22 17:19] ankiiitraj commented on #66
Backend is up on Heroku now just a pull needed! Currently running on my fork!

[2020-09-22 17:20] ankiiitraj commented on #67
So we are now using mongo atlas!

[2020-09-22 17:22] EmperorYP7 commented on #67
Wohooo! 🥳

[2020-09-22 17:23] ankiiitraj commented on #65
@tusharjain0022 Maintain the ratio of the lengths of 3 three lines in the hamburger icon!

[2020-09-22 17:46] hariom1625 commented on #63
Working on it.

[2020-09-22 17:49] EmperorYP7 commented on #43
The front-end doesn't treat events and notices to be separate entities. I guess, we should drop notice altogether. Or rather, rename notice as event on the API side.

[2020-09-22 18:05] ankiiitraj commented on #66
yea! perfectly working
Heroku and monogo remote with netlify
Another goal setup a Public Cloud Storage ex. Aws S3 bucket for images and pdfs

[2020-09-22 18:16] ankiiitraj commented on #43
I was thinking the same, this needs discussion!

[2020-09-22 18:27] tusharjain0022 commented on #65
working on it 🙌

[2020-09-22 19:14] EmperorYP7 commented on #66
Sounds like a new issue to me. But I think we should proceed with that now.

[2020-09-22 19:19] EmperorYP7 commented on #64
Seems like no one is taking this up. So, I am working on this.

[2020-09-22 20:47] hariom1625 commented on #64
I thought to start working on it after finishing partners section, Let me know if stuck somewhere.
Besides this What action will be performed after clicking on 'Know More'.

[2020-09-23 06:26] EmperorYP7 commented on #64
Alright @hariom1625.
https://www.figma.com/file/q2CSK29UovyGQtUOc9BP4v/House-of-Geeks-Copy?node-id=0%3A1
Here you can see in 'Desktop-4' screen what should be rendered after clicking through 'Know more' on community card.
![image](https://user-images.githubusercontent.com/62606998/93974829-08a15780-fd94-11ea-8206-0af5499a7230.png)

[2020-09-23 07:11] ankiiitraj opened #76 "Add style to notice section"
### Description
In continuation of #71, the notice section requires some design.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-23 07:13] ankiiitraj commented on #70
Closing against #71

[2020-09-23 07:13] #70 closed, assigned to nobody

[2020-09-23 07:27] EmperorYP7 commented on #76
On it.

[2020-09-23 07:32] ankiiitraj opened #77 "Hg logo looks messed"
### Description
While scrolling in smaller screens the Hg logo gets overlapped by letters which looks bad!
My initial thoughts, we can make a solid background on top which will be fixed and the Hg logo will be there along with the hamburger

suggestions?

### Screenshots/testimonials
![Screenshot from 2020-09-23 12-58-14](https://user-images.githubusercontent.com/48787278/93980875-d5af9180-fd9c-11

[2020-09-23 08:24] EmperorYP7 commented on #77
I couldn't find this problem while debugging. What are the dimensions of this viewport?

[2020-09-23 08:27] ankiiitraj commented on #77
This is an IPhone XR on Firefox

[2020-09-23 20:06] ankiiitraj opened #78 "[Backend] Add model and routes for gallery"
### Description
required endpoints:
get /galary
post /galary - protected
delete /galary - protected

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>
N/A

[2020-09-24 07:36] ankiiitraj commented on #65
closing against #74

[2020-09-24 07:36] #65 closed, assigned to tusharjain0022

[2020-09-24 07:37] ankiiitraj commented on #63
Closing against #75
Thanks @hariom1625 for the PR

[2020-09-24 07:37] #63 closed, assigned to hariom1625

[2020-09-24 13:43] EmperorYP7 opened #84 "Connecting Navbar links to components"
### Description
The Navbar links are to be updated by reusing the home page components for greater performance and less consumption of space. Eg. Sponsor/Partners page, Event link etc..

### Screenshots/testimonials
NA

[2020-09-24 20:25] ankiiitraj commented on #78
Working on it!

[2020-09-24 20:26] #66 closed, assigned to nobody

[2020-09-24 20:28] ankiiitraj commented on #67
This has been hosted on https://cloud.mongodb.com with imantiqueroy@gmail.com

[2020-09-24 20:28] #67 closed, assigned to nobody

[2020-09-24 20:29] ankiiitraj commented on #51
Great job @tusharjain0022
Closing this against #79

[2020-09-24 20:29] #51 closed, assigned to tusharjain0022

[2020-09-25 08:02] tusharjain0022 opened #86 "Hamburger icon looking different on mobile browser"
### Description
<write your description> Hamburger icon is rendering with white background color on my mobile browser(chrome) while it needs to be transparent.
Note - This is not visible on chrome developers tool or FireFox ,so while debugging, it needs to be tested on real mobile phone by connecting it on same Wifi connection and then browsing with `<PC/Laptop's IP address>:<Port number>` on mobi

[2020-09-25 09:29] vishalvibes commented on #77
Why don't we just remove hg logo from the top...why write it 2 times?

[2020-09-25 09:39] vishalvibes opened #87 "Set a favicon"
I have made a temporary favicon.
Have a look

![android-chrome-512x512](https://user-images.githubusercontent.com/29145212/94252083-147e4c80-ff41-11ea-955e-78f43acd5f76.png)

[2020-09-25 09:48] ankiiitraj commented on #87
Looks good to me! :tada:
Watch this @tusharjain0022 @hariom1625 @EmperorYP7

[2020-09-25 09:56] ankiiitraj commented on #60
closing this against #85

[2020-09-25 09:56] #60 closed, assigned to ankiiitraj

[2020-09-25 09:59] ankiiitraj commented on #77
@EmperorYP7 clear it out here!

[2020-09-25 10:00] EmperorYP7 commented on #77
That's a thought. But what if we keep it fixed at a superior z-index for the entire lifecycle (or view-cycle) of the website?

[2020-09-25 10:03] EmperorYP7 commented on #87
That's a hot pink! I like this one. :fire:

[2020-09-25 10:05] ankiiitraj commented on #87
@Vishal19111999 Go ahead and set this one as the favicon, btw if you have the SVG it would be more preferable!

[2020-09-25 10:12] EmperorYP7 commented on #86
This should be handled with CSS. Sounds like a good first issue to me.

[2020-09-25 10:31] ankiiitraj opened #88 "Update the Readme with Contributirs"
### Description
Update the contributor's section of Readme.
Requirement: Every contributor's should be there and clicking on it should open his Github profile.

### Screenshots/testimonials

![Screenshot from 2020-09-25 15-59-58](https://user-images.githubusercontent.com/48787278/94257030-51017680-ff48-11ea-993d-81f92171defe.png)

[2020-09-25 11:29] tusharjain0022 commented on #87
Looks Perfect to me! 🤩

[2020-09-25 12:27] hariom1625 commented on #88
I would like to work on it.

[2020-09-25 12:29] hariom1625 commented on #87
Looks cool !! 🙌

[2020-09-25 12:40] EmperorYP7 commented on #88
Go ahead @hariom1625! 🙌🏻

[2020-09-25 13:39] vishalvibes commented on #87
This issue is open for beginners
If anyone wants to contribute, he/she can inform us in the comments and start working

[2020-09-25 15:51] ankiiitraj commented on #88
Remember that the collaborators section in this repository don't show contributors from the front-end branch and only show from the master branch.
I am changing the default branch to front-end

[2020-09-25 18:12] deepti-iiitr commented on #87
I want to work on this.

[2020-09-25 18:17] ankiiitraj commented on #87
go ahead! 🎉
Here is the icon https://drive.google.com/drive/folders/1rlOg72pYybjSs626hdv9OcJ0odSA_MGg?usp=sharing

[2020-09-25 19:29] #87 closed, assigned to deepti23-web

[2020-09-25 19:36] #86 closed, assigned to nobody

[2020-09-25 22:05] #88 closed, assigned to hariom1625

[2020-09-26 05:54] ankiiitraj opened #93 "convert notice to event"
### Description
In the server rename the notices routes and schemas to events and delete the existing events routes and schemas.

Remember to checkout backend and make PR to the backend branch!

### Screenshots/testimonials
Notice routes: https://github.com/houseofgeeks/hg/blob/back-end/backend/routes/notice.js

[2020-09-26 06:45] ankiiitraj opened #95 "Remove sponsors name"
### Description
The sponsor's name is not required below its logo. Instead, on-hover make the label as the name of the sponsor.
Also, make the image as a link that will open the sponsor's page in the new tab.

### Screenshots/testimonials

![Screenshot from 2020-09-26 12-15-11](https://user-images.githubusercontent.com/48787278/94332336-f4f32c80-fff1-11ea-8ec0-7e428662b07a.png)

[2020-09-26 08:26] #64 closed, assigned to EmperorYP7

[2020-09-26 08:26] #76 closed, assigned to EmperorYP7

[2020-09-26 08:26] #84 closed, assigned to EmperorYP7

[2020-09-26 12:07] tusharjain0022 commented on #77
@ankiiitraj @EmperorYP7  Checkout the deployed site link on mobile browsers - https://houseofgeeks.netlify.app , I think this issue isn't there and only persist while we are checking this via chrome developers tool on Laptop/PC. Seems like Parallax Scrolling Effect isn't working on mobile.

![WhatsApp Video 2020-09-26 at 5 51 12 PM](https://user-images.githubusercontent.com/59157988/94340770-e45aa

[2020-09-26 12:10] EmperorYP7 commented on #77
![Screenshot_20200926-173953191.jpg](https://user-images.githubusercontent.com/62606998/94340425-4d8cee80-001f-11eb-93e7-fcee328af1c8.jpg)

Working for me though..

[2020-09-26 18:57] ankiiitraj commented on #95
Hi @hariom1625, are you interested in this!

[2020-09-26 18:58] ankiiitraj commented on #93
On it!

[2020-09-26 19:01] ankiiitraj commented on #77
this is happening in with which browser!
I thought the planet and logo were fixed at that place!
Seem new issue to me

[2020-09-26 19:12] hariom1625 commented on #95
Yeah, sure :-)

[2020-09-26 19:48] ankiiitraj opened #97 "Add quote in the footer"
### Description
Add the quote `Made with ❤️ and open-sourced` or something like this in the footer

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-26 19:50] ankiiitraj opened #98 "Create Web Team Modal"
### Description
Create Modal box for Web team

### Screenshots/testimonials

I'll update it with an example

[2020-09-26 19:51] ankiiitraj opened #99 "Add text to preloader"
### Description
Add text `Loading . . .` to the preloader.

Ask doubts in the comments!

### Screenshots/testimonials
N/A

[2020-09-26 19:56] ankiiitraj opened #100 "Bug in the landing page"
### Description
The upper border hides behind some div!

### Screenshots/testimonials

![Screenshot from 2020-09-27 01-14-28](https://user-images.githubusercontent.com/48787278/94349250-64a00080-0060-11eb-9032-5f7a22080570.png)

[2020-09-26 20:01] ankiiitraj commented on #95
what's your suggestion @hariom1625 @tusharjain0022 @EmperorYP7

[2020-09-26 20:14] ankiiitraj opened #101 "Add delay to react app mount"
### Description
Due to caching preloader don't get sufficient time to show up!
Adding delay to the mounting of the react app can fix the issue!

### Screenshots/testimonials

[2020-09-26 20:20] ankiiitraj opened #102 "The fixed HG logo on the top can be given some padding"
N/A

[2020-09-26 20:46] hariom1625 commented on #95
I had a doubt, we will be having a single sponsor's page ? So for redirection every logo of partners section should redirect to a single sponsor page or each logo will redirect to the sponsor page of that particular sponsor?

[2020-09-26 20:56] ankiiitraj commented on #95
Redirecting them to a single page appears more apealing

[2020-09-26 22:24] ankiiitraj commented on #95
![Screenshot from 2020-09-27 02-39-47](https://user-images.githubusercontent.com/48787278/94351313-19dcb380-0075-11eb-95e0-c9e15f0943fc.png)
This looks cool too!

[2020-09-26 23:24] LogMoss commented on #97
I'd like to fix this issue. To be clear, is it `and open-sourced` or `and open-source`?

[2020-09-26 23:26] ankiiitraj commented on #97
You can go ahead! Assigning this to you!

[2020-09-26 23:47] LogMoss commented on #100
Can you assign it to me, I have the fix.

[2020-09-27 00:10] LogMoss commented on #102
Can assign this to me also?

[2020-09-27 02:44] shubhamgoel24 commented on #102
Can i work on this issue ?

[2020-09-27 03:42] EmperorYP7 commented on #102
We won't be assigning this to anyone. You all may proceed with this.

[2020-09-27 03:43] EmperorYP7 commented on #100
Go ahead!

[2020-09-27 03:47] EmperorYP7 commented on #97
I dont think we should be adding this line. But anyways, let's see how @erkska implements it. `Made with ❤️ and open-sourced` will be fine.

[2020-09-27 06:09] SaravgiYash commented on #102
@EmperorYP7 I have made some changes and created a PR.

[2020-09-27 06:31] hariom1625 commented on #95
Looks cool !! But for this, we will need to design the logos to suit with the theme of our website.

[2020-09-27 06:35] ankiiitraj commented on #102
@Yashs911 Thanks for the PR, meanwhile we review, check out more issues!

[2020-09-27 06:41] ankiiitraj commented on #95
That's correct let us stick to the current one!

[2020-09-27 07:02] tusharjain0022 commented on #77
This is on my Redmi4 chrome browser.

[2020-09-27 07:26] ankiiitraj opened #105 "Contact us form"
### Description
Contact us form should not be on every page!
It should be only on the home page and if required the contact us page!

[2020-09-27 07:53] ankiiitraj commented on #101
@Vishal19111999 How much delay would be good?

[2020-09-27 08:10] ankiiitraj commented on #102
closing against #104

[2020-09-27 08:10] #102 closed, assigned to nobody

[2020-09-27 08:24] ankiiitraj opened #107 "Pagination in the events component"
### Description
As we'll be showing all the events on the Events page.
Pagination will be very helpful!

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-27 08:27] tusharjain0022 commented on #43
Suggestion : I've a basic layout design for the event component where details of all the events are to be displayed.
Note - It's just a blueprint so color is set to default.

![event-page](https://user-images.githubusercontent.com/59157988/94360044-3e15b000-00c8-11eb-8ba1-12e548a2e2d4.png)

![single](https://user-images.githubusercontent.com/59157988/94360200-4c180080-00c9-11eb-901d-d52d46b98197.j

[2020-09-27 08:28] ankiiitraj opened #108 "Events page mobile view bug"
### Description
`Event` hides behind the hamburger icon.
Checkout screenshot attached

### Screenshots/testimonials

![Screenshot from 2020-09-27 13-57-27](https://user-images.githubusercontent.com/48787278/94360214-67830b80-00c9-11eb-8c01-ef4d2c980459.png)

[2020-09-27 08:34] tusharjain0022 commented on #107
Suggestion : I've a basic layout structure for the event component where details of all the events are to be displayed so that everything looks well organized.
Note - It's just a blueprint so color is set to default and structure is just for reference.

![event-page](https://user-images.githubusercontent.com/59157988/94360044-3e15b000-00c8-11eb-8ba1-12e548a2e2d4.png)

[2020-09-27 08:42] #95 closed, assigned to nobody

[2020-09-27 08:54] ankiiitraj commented on #107
This looks cool @hariom1625 @EmperorYP7 check this out!

[2020-09-27 12:25] EmperorYP7 commented on #107
That's great!🤩 You just need to design it well now..

[2020-09-27 13:28] SaravgiYash commented on #97
![hg](https://user-images.githubusercontent.com/64412143/94366055-1851d080-00f3-11eb-9c6f-0edb2c3bfcc8.JPG)
@ankiiitraj I have made the changes and will create a PR on 1st Oct because of hacktoberfest. Do I need to add anything else?

[2020-09-27 14:34] SaravgiYash commented on #97
@ankiiitraj @EmperorYP7 I tried creating a PR for this issue but when I click Pull Request I see both my new commit and my previous commit(Adding padding one). I am new to open source can you tell me what should I do?

[2020-09-27 14:36] LogMoss commented on #97
Excuse me, but I'm assigned to this issue and working on it. @Yashs911

[2020-09-27 14:38] hariom1625 commented on #107
Layout looks great, just need the design now to get started !!

[2020-09-27 14:45] SaravgiYash commented on #97
@erkska Sorry, I will not create the PR (I thought its already 15hr so I made the changes).
P.S. I am new to open source

[2020-09-27 14:49] SaravgiYash commented on #99
@ankiiitraj I would like to work on this. Could you please assign me this task.
And can you please elaborate exactly which file I need to change?

[2020-09-27 14:56] EmperorYP7 commented on #97
@Yashs911, the following commands might help.
[code]

@erkska All the beginner issues are open for all, regardless of who is assigned. We promote collaboration over competition.

[2020-09-27 14:59] SaravgiYash commented on #97
@EmperorYP7 I am doing all changes in the main branch. I know I should have created a separate branch so in <your dev-branch> what should I write?

[2020-09-27 15:02] EmperorYP7 commented on #97
Please read [CONTRIBUTING.md](https://github.com/houseofgeeks/hg/blob/front-end/CONTRIBUTING.md) carefully.

[2020-09-27 16:00] tusharjain0022 commented on #107
Alright I'll try to design a finished look to this layout in accordance with the current theme.

[2020-09-27 16:55] EmperorYP7 commented on #105
Agreed. :+1: We can make this a separate issue

[2020-09-27 17:09] tusharjain0022 opened #109 "Navbar links not updating their state with the change in URL"
### Description
<write your description>Navbar links are not changing their state in accordance with the change in URL. Refer to the Screenshot attached below , page is in home section while navbar menu is showing Event as active component.
Note : This happens when we press Back button on the browser or phone .

### Screenshots/testimonials
<place your screenshots or testimonials here if applicabl

[2020-09-27 17:11] SaravgiYash commented on #97
@EmperorYP7 I am trying to set up upstream but after "git pull upstream master" I am getting a merge conflict (both added ) for few files. What should I do?

[2020-09-27 18:57] ankiiitraj opened #110 "Show contact us form only on the landing page"
### Description
As discussed here #105

### Screenshots/testimonials

N/A

[2020-09-27 18:58] #101 closed, assigned to nobody

[2020-09-27 19:00] ankiiitraj commented on #99
The files is here https://github.com/houseofgeeks/hg/blob/front-end/client/public/index.html
If you see the preloader, only the rocket appears.
We can put a text showing Loading just below the rocket to make it more intutive

[2020-09-27 19:03] ankiiitraj commented on #97
So if you are working on front-end use `git pull upstream front-end --rebase`
If there are conflicts try to resolve them and you are good to go!

[2020-09-27 19:48] SaravgiYash commented on #97
@ankiiitraj I have created an upstream/front-end remote each time I want to contribute I will "git pull" in the front-end branch and then create a separate branch and do the work and push from that branch.
Am I right?

What if while I was working someone changed the main repo?

[2020-09-27 20:12] EmperorYP7 commented on #97
@Yashs911 You may directly commit to `Yashs911:front-end` branch and pull the new changes from `houseofgeeks:front-end` periodically to keep your side up to date. You may refer to [this video](https://youtu.be/ng50ukrUyZE?t=7578) for detailed explanation.

[2020-09-27 21:11] tusharjain0022 commented on #107
# 1
![event](https://user-images.githubusercontent.com/59157988/94375792-dbf29480-0133-11eb-89ee-ad2cdbd6af26.png)

# 2
![event-without_sat](https://user-images.githubusercontent.com/59157988/94375801-e6149300-0133-11eb-959e-4e66c3ac9817.png)

# 3
![event(1)](https://user-images.githubusercontent.com/59157988/94375811-ed3ba100-0133-11eb-8155-bba818f9998d.png)

# 4
![event(2)](https://user-images.g

[2020-09-28 05:28] SaravgiYash commented on #97
@EmperorYP7 I watched the video and have understood most of the things. So according to me, I have to
git pull upstream front-end
git add (if any conflict)
git push origin front-end
and then create a branch and do the work and that's it.
One last doubt while pushing the work what command do I need to write just "git push" or "git push origin front-end"

In the video you write master so do I also n

[2020-09-28 06:09] hariom1625 commented on #107
Great work, In the design (4) it gives an illusion that the table is floating in the space, that looks amazing !!
Can we adjust the Important posters section somewhere else other than the right side?

[2020-09-28 06:09] ankiiitraj commented on #107
So we can start with making the events page.
Go ahead and open relevant issues for the same with the proposed design
Well done @tusharjain0022

[2020-09-28 06:11] ankiiitraj commented on #97
You need `git push origin front-end`

[2020-09-28 06:12] ankiiitraj commented on #77
so what are we doing now on this one? suggestions?

[2020-09-28 06:22] EmperorYP7 commented on #77
Tried to make it fixed for the entire website. It didn't look good at first. Still trying to find a way around it.

[2020-09-28 06:34] tusharjain0022 commented on #107
I tried adjusting the poster section somewhere on the page but it seems to over populate the page so I just removed it in the last design(4) so that everything looks simple and nice. Suggestions are welcome.

[2020-09-28 09:45] EmperorYP7 commented on #107
Great work on the designs @tusharjain0022 :fire: I think we should go for design 4.

[2020-09-28 10:54] tusharjain0022 commented on #107
I think we'll be required a separate Event component for this , and current event component needed to be shifted to `Home` folder. Just like we're having two different components for sponsors.
What you say @EmperorYP7 @ankiiitraj @hariom1625

[2020-09-28 10:55] EmperorYP7 commented on #107
Yes. Thats the way we should be doing it anyways.

[2020-09-28 11:03] ankiiitraj commented on #107
This sounds good to me!
PS: attach PR to some issue!

[2020-09-28 11:44] SaravgiYash commented on #97
@ankiiitraj @EmperorYP7 I have figured out the whole syncing process thanks a lot for your help and guidance.

My last question is: Is it possible to create a commit today and Issue a PR later like after 1 week. If in between the main repo get updated will it be a problem?

And I am currently using windows and aiming for GSoC 2021/2022 So should I switch to Linux or any other advice you can provid

[2020-09-28 13:48] ankiiitraj commented on #97
You can do is open a PR in draft mode and open it for review whenever you want!
There's a ton of videos on youtube about the benefits of using Linux over windows especially for development. You can watch those!

[2020-09-28 13:56] tusharjain0022 opened #111 "Refactoring File structure for event component"
### Description
<write your description> Refactoring File structure for event component as discussed here #107
 we'll be required a separate Event component in the `client/src/components` folder , and current event component needed to be shifted to `client/src/components/Home` folder. Just like we're having two different components for sponsors.
### Screenshots/testimonials
<place your screenshots

[2020-09-28 13:59] tusharjain0022 opened #112 "Creating Event Component"
### Description
<write your description> This component will contain
 - Event table component

Event Table component will be passed these data as props
* Different events sorted by date as Running/Upcoming/Past Events (refer screenshot attached below).
* Pagination should be there.

### Concerned Folder
https://github.com/houseofgeeks/hg/tree/front-end/client/src/components/Event

### Assets
https

[2020-09-28 14:15] #111 closed, assigned to nobody

[2020-09-28 14:34] tusharjain0022 commented on #110
working on it 🙌

[2020-09-28 15:01] ankiiitraj commented on #112
suggestion:
 - Create one component for the table and reuse it multiple times.
 - make a component form pagination
 - pass data as props to these components

[2020-09-28 15:08] #105 closed, assigned to nobody

[2020-09-28 19:17] #57 closed, assigned to Abhayraj1707

[2020-09-28 19:24] EmperorYP7 opened #114 "Remove horizontal overflow in Error page"
### Description
The mobile version of the error page has a slight horizontal movement. This should be removed using CSS. For more info, check #89.

### Concerning Files/Folders

https://github.com/houseofgeeks/hg/tree/front-end/client/src/components/Error

### Screenshots/testimonials
![image](https://user-images.githubusercontent.com/62606998/94476528-3b14df80-01ee-11eb-930a-3995101c391e.png)

[2020-09-28 19:28] EmperorYP7 commented on #98
How should we approach this? 🤔 @hariom1625 we can have something out of the bot's API.

[2020-09-28 19:39] hariom1625 commented on #98
We can use the GitHub API to get the contributors list in the JSON format easily and then parse through all the contributors GitHub URL and names.
This is the API link for hg repo contributors : https://api.github.com/repos/houseofgeeks/hg/contributors

[2020-09-28 19:43] EmperorYP7 commented on #98
That's great! 🙌🏻  We would be needing a design for this..

[2020-09-28 19:45] ankiiitraj commented on #114
You can close this one, @hariom1625's commit on #89 fixed this issue

[2020-09-28 19:52] #110 closed, assigned to tusharjain0022

[2020-09-28 19:56] ankiiitraj opened #115 "Creating Event table"
### Description
In ref to #112, Create a table component as described in the image.
Take dummy data and pass it through props.

### Screenshots/testimonials

![](https://user-images.githubusercontent.com/59157988/94398267-dec8a600-0182-11eb-8017-ba0869051921.png)

[2020-09-28 19:57] ankiiitraj opened #116 "Create pagination component"
### Description

In ref to #112, Create a pagination component as described in the image.
Take dummy data and pass it through props.

### Screenshots/testimonials
![screenshot](https://user-images.githubusercontent.com/59157988/94398267-dec8a600-0182-11eb-8017-ba0869051921.png)

[2020-09-28 22:32] ankiiitraj opened #119 "Error Router for Back-end"
### Description
Create an Error route for backend!
It should return a json with status of 500 and message: bad request or 404 not found

[2020-09-29 09:28] #93 closed, assigned to ankiiitraj

[2020-09-29 09:30] ankiiitraj opened #120 "Add expire time for JWT token"
Currently, JWT doesn't expire, and can be a security threat! Adding an expiry time after 12 hrs can help!

[2020-09-29 09:35] ankiiitraj opened #121 "Implementing update function of events for admin"
### Description
Complete CRUD for events by adding updating functionality.
Updating functionality will require maintaining a history of updates!

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>
N/A

[2020-09-29 15:27] tusharjain0022 opened #122 "Adding Linkedin icon to Footer"
### Description

* Add Linkedin icon to the footer.
* Apply appropriate padding or margin for adjusting this extra icon on all screen sizes.
* HG Linkedin account link - https://www.linkedin.com/company/hgiiitranchi/
Note - Icon needs to be a static svg icon . Can be downloaded from https://fontawesome.com/icons?d=gallery&q=linkedin .

### Concerning Folder
https://github.com/houseofgeeks/hg/tree/

[2020-09-29 21:16] ankiiitraj opened #124 "configuring webpack"
### Description

Webpack needs to be configured for having two different builds, one the public app and the other the admin app.

Having both of these in a single build will only increase the bundle size and increase the initial render time.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-29 21:22] ankiiitraj opened #125 "Lorem Epsum"
### Description
- Collect the content for the landing page and update Lorem Epsum.
- Add the appropriate logos of different communities.
### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-09-29 21:40] EmperorYP7 commented on #124
That would be a great optimisation for the app! 🤩

[2020-09-29 21:44] #120 closed, assigned to nobody

[2020-09-30 05:53] vishalvibes opened #126 "Create a simple footer exclusively for Error Component"
House of Geeks 404 Page should have an image in the footer, Only a single image that of the moon should be displayed.

[2020-09-30 05:59] ankiiitraj commented on #126
@hariom1625 @tusharjain0022 Thoughts?

[2020-09-30 06:05] SaravgiYash commented on #122
Hi, @tusharjain0022 I would like to work on this issue. Will create PR Tomorrow.

[2020-09-30 06:39] SaravgiYash commented on #122
@ankiiitraj @tusharjain0022 I also need to create PR for the other two previous issues so I will create it Tomorrow. So "git pull --rebase upstream front-end" on those branches will be enough to align them with the current official repo?

[2020-09-30 06:55] ankiiitraj commented on #122
yup you're correct

[2020-09-30 07:48] tusharjain0022 commented on #126
Currently that half cut moon like svg is looking a bit weird to me . Yes, if we'll display only the image of moon , it'll look more cleaner and nice.

![error](https://user-images.githubusercontent.com/59157988/94657114-99d97680-031e-11eb-9d74-377a89a8f7fa.png)

Suggestion : I think that the Home link in the top left corner is also not necessary as we're having that in the navbar menu also.

[2020-09-30 07:54] tusharjain0022 commented on #122
Yes , @Yashs911 you can go ahead 👍

[2020-09-30 11:23] vishalvibes commented on #126
@tusharjain0022 I think you misunderstood the problem...I am talking about what happens when you scroll
although home button can be changed into an svg

[2020-09-30 11:24] vishalvibes opened #127 "Overlap while loading events"
check this image
![Screenshot from 2020-09-30 16-53-49](https://user-images.githubusercontent.com/29145212/94679401-a5886580-033d-11eb-9477-b08d5621cffb.png)

[2020-09-30 13:05] hariom1625 commented on #126
Agreed, while scrolling the page it does look weird having that landed astronaut below the floating one over the moon, so for that, I think we can remove the image in the footer or the complete footer from the ERROR page and can keep the rest of the page as it is or instead of half-moon can have an image of a full moon.
Suggestions?

[2020-09-30 13:28] ankiiitraj commented on #126
I agree with hariom, removing the footer images will make it cleaner!

[2020-09-30 13:29] ankiiitraj commented on #98
@EmperorYP7, Add an issue for the same

[2020-09-30 13:36] ankiiitraj opened #129 "Event section on Landing page"
### Description
Does so much black space look good (see the screenshot)?
suggestion @Vishal19111999 @hariom1625 @tusharjain0022 @EmperorYP7
### Screenshots/testimonials

![Screenshot from 2020-09-30 19-05-22](https://user-images.githubusercontent.com/48787278/94692376-19cc0480-0350-11eb-8e16-2303a39ce25d.png)

[2020-09-30 13:53] hariom1625 commented on #129
In which browser you are viewing this and the resolution of the screen?

[2020-09-30 14:00] ankiiitraj commented on #129
FIrefox on ubuntu  and 1920X1080

[2020-09-30 15:29] EmperorYP7 commented on #126
Yup. We should be removing the Footer component and add a custom footer especially for the error page. Although, I dont think any modification to the actual Footer component is necessary.

[2020-09-30 15:35] tusharjain0022 commented on #126
Agreed 🙌

[2020-09-30 17:20] hariom1625 commented on #129
Working fine in my firefox, Using Windows !!

[2020-09-30 18:24] #97 closed, assigned to LogMoss

[2020-09-30 18:27] #41 closed, assigned to nobody

[2020-09-30 18:31] #99 closed, assigned to nobody

[2020-09-30 18:34] tusharjain0022 commented on #129
It's happening at 1920 X 1080 .

![Screenshot (441)](https://user-images.githubusercontent.com/59157988/94725500-7db6f300-0379-11eb-819d-b61daebeee62.png)

[2020-09-30 18:34] ankiiitraj commented on #129
Share the screenshot here! @hariom1625

[2020-09-30 18:35] ankiiitraj commented on #129
anything that can be done @tusharjain0022 ?

[2020-09-30 18:37] ankiiitraj commented on #114
Closing this against #89

[2020-09-30 18:37] #114 closed, assigned to nobody

[2020-09-30 18:42] EmperorYP7 commented on #129
This wasn't intended. It should be fixed.

[2020-09-30 18:43] tusharjain0022 commented on #129
I think media queries would solve this ,but first of all we need to figure out what is  causing this to happen

[2020-09-30 18:45] ankiiitraj commented on #129
Mark it as an issue and give it a proper title anyone!

[2020-09-30 19:04] #122 closed, assigned to nobody

[2020-09-30 19:54] hariom1625 commented on #129
Facing the same issue as mentioned in @tusharjain0022 screenshots, I think I misread the screen resolution before on my browser. My bad !!

Working on it !!

[2020-09-30 20:16] hariom1625 commented on #129
Shall I directly make the PR ? or should make an issue first?

[2020-09-30 20:17] ankiiitraj commented on #129
Make an issue first!

[2020-09-30 20:26] hariom1625 opened #134 "Event and Partner Section on Homepage"
### Description
There is a lot of blank space being generated beside the event section and the containers of about and partner section appear misaligned w.r.t the community section for large resolution screen (mainly width above 1920 px).

### Screenshots

![Screenshot (176)](https://user-images.githubusercontent.com/66957239/94735881-0721f180-0389-11eb-98f7-3e3fb2d6e447.png)
![Screenshot (175)](h

[2020-10-01 06:59] vishalvibes opened #136 "The loading text in preloader isn't needed"
The loading text in preloader isn't needed! @ankiiitraj what do you think?

[2020-10-01 07:16] ankiiitraj commented on #136
Mixed feelings! For now, we can have the text. If better alternatives will be there we can update it

[2020-10-01 07:48] EmperorYP7 commented on #136
I think it looks good for now.

[2020-10-01 11:40] RishavMz commented on #109
Currently the navbar is a function component which is using hooks, so component cannot be reloaded by making a state change.
However, a simple solution would be to reload the screen whenever back button is pressed to force refresh the component cycle.
Should I go for it?

[2020-10-01 16:45] #100 closed, assigned to nobody

[2020-10-01 16:48] EmperorYP7 commented on #98
For the design?

[2020-10-01 16:51] EmperorYP7 commented on #115
On it.

[2020-10-01 17:16] ankiiitraj commented on #98
Yup and mention this issue there for ref

[2020-10-01 17:39] EmperorYP7 opened #141 "Create design for WebDev team modal"
### Description

With reference to #98, provide a design for WebDev team modal to be displayed on the [hG website](https://houseofgeeks.netlify.app/). You should be following space theme for this. Kindly go through the website to get the design asthetics of the website and make this relevant to the present design. The modal should contain all the avatar/card of all the contributors of the project.

[2020-10-01 17:41] EmperorYP7 commented on #141
Heads up @EricLiclair and @tusharjain0022!

[2020-10-01 17:52] EricLiclair commented on #141
may i know the details to be included in the cards ?
Name, email? Github link? linkedin?

what else?

[2020-10-01 18:08] ankiiitraj commented on #141
name, github, linkedin, email sounds good anything more @EmperorYP7 @hariom1625 @tusharjain0022

[2020-10-01 18:17] SaravgiYash opened #142 "Footer icons are not centered properly"
### Description
Footer icons are not centered properly.

### Screenshots/testimonials
![hg](https://user-images.githubusercontent.com/64412143/94847537-56772900-0440-11eb-9a05-e6dac1c4567a.JPG)

[2020-10-01 18:33] EmperorYP7 commented on #141
Yep that's all we need.

[2020-10-01 19:31] ankiiitraj commented on #142
@hariom1625 have a look!

[2020-10-01 19:36] EmperorYP7 commented on #115
This might take me a while. Schedule's all messed up.

[2020-10-01 19:41] #127 closed, assigned to nobody

[2020-10-01 19:41] #134 closed, assigned to nobody

[2020-10-01 19:42] #129 closed, assigned to nobody

[2020-10-01 20:10] hariom1625 commented on #142
The present layout isn't looking great to me making some changes !!

[2020-10-02 07:37] ankiiitraj opened #144 "Close the navbar on `esc` keypress"
### Screenshots/testimonials
N/A

[2020-10-02 07:46] #109 closed, assigned to nobody

[2020-10-02 07:59] dineshsy commented on #144
sure can I can work on this issue..!! :heart:

[2020-10-02 08:01] ankiiitraj commented on #144
Assigning this to you @dineshsy, go for it!

[2020-10-02 08:05] NiketanG commented on #108
I could fix this

[2020-10-02 08:06] ankiiitraj commented on #108
Go for it @NiketanG

[2020-10-02 08:32] dineshsy commented on #144
Yea I have created the pull request (#145) kindly review it.. <3

[2020-10-02 09:15] #144 closed, assigned to dineshsy

[2020-10-02 09:19] #136 closed, assigned to nobody

[2020-10-02 10:19] NiketanG commented on #108
@ankiiitraj PR is up #149

[2020-10-02 15:55] hariom1625 commented on #108
The Centering of the event header had affected the content of the event section. It doesn't look good to me.
![Screenshot (181)](https://user-images.githubusercontent.com/66957239/94943655-acf26f00-04f5-11eb-8746-5dd13c923fb5.png)

[2020-10-02 16:02] ankiiitraj commented on #108
completely missed that! @NiketanG Can you fix it in your next PR

[2020-10-02 16:11] ankiiitraj opened #150 "add more sponsors"
### Description
Add outscal, Chef'sClub, IEEE and OSA as sponsors

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-10-02 16:11] ankiiitraj commented on #150
@EmperorYP7 mention the assets link in the description
Add the logos too!

[2020-10-02 16:21] hariom1625 commented on #108
A lot of blank space is being generated below the footer on the EVENTS Page.
For screen resolution less than 853px.
![Screenshot (183)](https://user-images.githubusercontent.com/66957239/94946114-4a9b6d80-04f9-11eb-87e6-cfbafb01ee9e.png)

[2020-10-02 16:36] SaravgiYash opened #151 "Reduce astronaut size in mobile screen"
### Description
The astronaut is blocking the Hg name behind(Mobile screen)
@ankiiitraj @hariom1625 (Is this a valid issue?)
### Screenshots/testimonials
![hg1](https://user-images.githubusercontent.com/64412143/94947576-79b2de80-04fb-11eb-89a7-8b419f2c87d5.JPG)

[2020-10-02 16:37] tusharjain0022 commented on #126
How About this , If the error page would render like this ??
![error-footer](https://user-images.githubusercontent.com/59157988/94947092-b6320a80-04fa-11eb-8692-91944009c90b.png)

[2020-10-02 16:42] NiketanG commented on #108
The content should be on the right and only the title should be centered. i.e "Receiving signals..." text shouldn't be centered. That's it, right ?

[2020-10-02 16:48] hariom1625 commented on #108
Yes @NiketanG, make the event content left-aligned as displayed in the image below
![Screenshot (184)](https://user-images.githubusercontent.com/66957239/94948476-04480d80-04fd-11eb-9c1b-758112f9ef89.png)

And you can also try to fix the footer issue in the Events Page mentioned here as well in your next commit. Will that be fine?

[2020-10-02 16:54] NiketanG commented on #108
Okayyy

Sure. Although, I might have to rewrite the styling for Events page using better techniques like Flexbox. It's using margins to align stuff which is the cause. Is that fine ?

[2020-10-02 17:31] #142 closed, assigned to nobody

[2020-10-02 17:36] ankiiitraj commented on #126
@Vishal19111999 What do you say?

[2020-10-02 17:37] ankiiitraj commented on #151
is this intended? @EmperorYP7

[2020-10-02 17:37] vishalvibes commented on #126
Make the footer opaque

[2020-10-02 17:43] EmperorYP7 commented on #151
Yes. It is intended.

[2020-10-02 17:52] EmperorYP7 commented on #150
https://www.outscal.com/                             - Outscal
https://osa-iiitr.herokuapp.com/                    - OSA Student Chapter
https://iiitr-ieee-sb.netlify.app/                      - IEEE Student Branch
https://www.facebook.com/chefsClubIIITR/ - Chef's Club

[2020-10-02 17:53] hariom1625 commented on #151
It looks fine to me although  I think the HoG can be lifted a bit up revealing only the upper part of 'F', not the complete name.
Suggestions?

[2020-10-02 18:35] hariom1625 commented on #108
Yes go ahead, and have a look at all the files before starting, you will notice that the Event component that is being rendered on the Home page is the same and is being reused and rendered on the Event page. So, while implementing just be careful as the dynamics of both the pages are a bit different :-)
And always define a New className to all the new div tags and components you will declare so a

[2020-10-02 19:09] tusharjain0022 commented on #126
### 1 (After making the footer opaque)

![opaque](https://user-images.githubusercontent.com/59157988/94959983-bbe61b00-050f-11eb-829f-0d6f0468b75c.png)

I've tried few more things 😄
### 2

![1](https://user-images.githubusercontent.com/59157988/94960355-5e9e9980-0510-11eb-88c9-1c9cfb72ae05.png)

### 3

![2](https://user-images.githubusercontent.com/59157988/94960057-d4563580-050f-11eb-9b53-d2cfd44

[2020-10-02 19:25] #151 closed, assigned to nobody

[2020-10-02 19:58] vishalvibes commented on #126
try pink color of hamburger

[2020-10-02 20:47] tusharjain0022 commented on #126
### 4

![pink](https://user-images.githubusercontent.com/59157988/94968264-3ae25000-051e-11eb-914c-f277ef369c72.png)

### 5

![dark-pink](https://user-images.githubusercontent.com/59157988/94968280-403f9a80-051e-11eb-8e73-9f74dcd02a5e.png)

[2020-10-02 21:19] tusharjain0022 commented on #77
Suggestion : What if we remove the parallax scrolling effect on screen width less than 427px explicitly as it is happening in my mobile browser. Can this be a solution to this problem?? @ankiiitraj  @hariom1625  @EmperorYP7 👀

[2020-10-03 06:28] ankiiitraj commented on #126
@Vishal19111999  thoughts?

[2020-10-03 14:20] tusharjain0022 commented on #150
Link for logos - https://drive.google.com/drive/folders/1_yKni7koI4dwnTfDFuhDI_a0RIrAsbRQ?usp=sharing

[2020-10-03 19:26] ankiiitraj commented on #126
@tusharjain0022 We can finalize the 5th one! 🎉

[2020-10-03 19:26] ankiiitraj commented on #126
BTW great work!

[2020-10-03 19:32] tusharjain0022 commented on #150
How we're gonna use the single sponsors component that we visit via navbar, any suggestions ?? @ankiiitraj @EmperorYP7 @hariom1625

[2020-10-03 19:53] ankiiitraj commented on #77
That sounds good! So are we talking about fixing the logo with some background or what?

[2020-10-03 19:57] tusharjain0022 commented on #77
After removing the parallax effect for small devices the landing page will render like this on all small devices (<427px) :
![WhatsApp Video 2020-09-26 at 5 51 12 PM](https://user-images.githubusercontent.com/59157988/95000679-92e18b00-05e0-11eb-8e58-0066c53299f6.gif)

[2020-10-03 19:57] ankiiitraj commented on #150
I was thinking of having of reusing the same component there, if possible!

[2020-10-03 20:06] ankiiitraj commented on #77
This looks good to me! We can move ahead with the implementation 🥳

[2020-10-04 04:54] hariom1625 commented on #150
The issue with the present partners section is the opening of the sponsors page on clicking over the logo of any sponsor present within the Partners Section. If somehow we can disable the pointer action  over the sponsors logo in the sponsors page and having it enabled only on the partners section present on home page. Then the same component can be reused in the sponsors page as well.
Note: If we

[2020-10-04 06:09] EmperorYP7 commented on #150
The only thing that needs to be changed is the link for every sponsor on homepage and sponsors page so, we can pass the links as props to the component everytime we call it.

[2020-10-04 06:11] EmperorYP7 commented on #126
Great work @tusharjain0022 🤩

[2020-10-04 07:35] ankiiitraj commented on #150
Let me summarise, We want to achieve is just the branding of sponsors and no redirecting to their landing pages.

[2020-10-04 07:52] hariom1625 commented on #150
So, we can just remove the link tag. And reuse the Partners Section component on our sponsor's page.

PS: I have made some changes to the old code itself, not really a generic solution but I think it would work fine for this stage.
Shall I make the PR just for review purpose?

[2020-10-04 08:24] EricLiclair commented on #126
![Error 404](https://user-images.githubusercontent.com/65639964/95010619-59dd0100-0648-11eb-82d2-bb976dd19171.png)

Looking closely, the 404 is supposed to have a gradient in the background, which would help the original mini footer in visibility, as well as the moon(planet) is to be centered a bit.

Also, the pink color `#EE2A7B` , in the footer will be very vibrant and would turn out to be over

[2020-10-04 08:33] EricLiclair commented on #126
https://www.figma.com/file/NyIGhH5PhxbjfDf4DNmW55/House-of-Geeks?node-id=0%3A1

Here's the figma file.

[2020-10-04 12:32] EmperorYP7 commented on #150
Go ahead @hariom1625!

[2020-10-04 12:40] EricLiclair opened #154 "The animation on landing page should be removed."
### Description
Since we already have a great pre-loader, the dropping animation of the astronaut and the surface moving up, is not required.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>
Either, both the astronaut and surface be grouped into one and moved upwards
or, let both of them have no animation at all.

https://www.loom.com/share/e58be895f4044200

[2020-10-04 16:46] tusharjain0022 commented on #77
Working on it! 🙌

[2020-10-04 19:38] #150 closed, assigned to hariom1625

[2020-10-04 19:44] EmperorYP7 commented on #154
I think it creates a nice asthetic to the website.. We should definately reduce animations on the home page but removing them completely would not be quite as good as it is now.

[2020-10-04 19:51] EricLiclair commented on #154
Agreed, that's why I added a solution to it: grouping the surface and the astronaut into one, and then the animation which slides up from bottom, also the z-index of the surface shout be kept below the `about us` section, as the surface while moving, overlays the about us section.

[2020-10-04 20:04] hariom1625 commented on #154
Want to give it a try @EricLiclair for the preview purpose?
I think it would be more fitting to implement the changes for visualization of the animation and then deciding which fits best for the website.

[2020-10-05 07:19] #77 closed, assigned to nobody

[2020-10-05 10:17] NobodySS07 commented on #125
May I add Content for ML community

[2020-10-05 10:19] EmperorYP7 commented on #125
Go ahead @NobodySS07!

[2020-10-05 21:31] guptapranav4299 commented on #119
let me do this @ankiiitraj

[2020-10-05 21:49] ankiiitraj commented on #119
Go for it @guptapranav4299 assigning this to you!
Don't forget to go through the contributing guidelines!

[2020-10-06 14:47] tusharjain0022 opened #158 "Creating Community of Competitive Coding Page"
### Description
<write your description> Create the Community of Competitive Coding page in the concerned folder/file as per the wireframe , You can add any creative modification keeping the basics structure as per the wireframe.

### Concerning Folder/File
https://github.com/houseofgeeks/hg/tree/front-end/client/src/components/Community/Communities

### Assets Link
https://drive.google.com/file/d

[2020-10-06 18:03] SaravgiYash opened #159 "Partners and Sponsors is not aligned properly"
### Description
Partners and Sponsors are not aligned properly.

### Screenshots/testimonials
![issue](https://user-images.githubusercontent.com/64412143/95242125-5efaa580-082c-11eb-8c25-5838b8dae1e7.JPG)

[2020-10-06 18:05] EmperorYP7 commented on #159
Whats the screen size for this?

[2020-10-06 18:09] vishalvibes opened #160 "Opening an issue for Octocon 2020 PR contest"
This is a discussion for what issue can be opened for Octocon 2020 contribution contest

The issue should take like 3-5 hours and should be doable by even a beginner

Ideas are welcome!

[2020-10-06 18:09] vishalvibes commented on #160
@ankiiitraj @Yashs911 @sanskarseth let's look into this

[2020-10-06 18:11] SaravgiYash commented on #159
@EmperorYP7 My laptop screen :) When I open inspect everything is aligned properly

![issue2](https://user-images.githubusercontent.com/64412143/95243021-a46ba280-082d-11eb-87b6-b2770f085704.JPG)

[2020-10-06 18:24] tusharjain0022 commented on #159
This issue seems to be present for screen width between 1500px to 1600px.

![Screenshot (475)](https://user-images.githubusercontent.com/59157988/95244194-4475fb80-082f-11eb-954e-98325810585d.png)

[2020-10-06 18:55] SaravgiYash commented on #159
@tusharjain0022 @EmperorYP7  on line 128 changing min-width from 1600 to 1400 solves the issue but I don't know whether it will be an ideal fix
![fix](https://user-images.githubusercontent.com/64412143/95247414-738e6c00-0833-11eb-975a-0af4baf26d1b.JPG)

Edit: the issue is between 1400px to 1600px

[2020-10-06 19:05] SaravgiYash commented on #159
Hey, I would like to create a PR. According to me changing min-width:1400 will fix this issue.

[2020-10-06 19:28] sanskarseth commented on #160
Building reusable react components @Vishal19111999

[2020-10-06 19:51] ankiiitraj commented on #160
Any ideas guys! @EmperorYP7 @tusharjain0022 @hariom1625

[2020-10-06 21:54] vishalvibes commented on #160
@sanskarseth can we be more specific?

[2020-10-07 04:30] sanskarseth commented on #160
@Vishal19111999 can you elaborate more on whether the issues will be linked to any of the existing repo. of HG or it will be completely different? Also whether it will we used further in any repo. or is it just for Octocon?

[2020-10-07 04:44] vishalvibes commented on #160
It will just be like a normal issue for this repo

[2020-10-07 08:16] EmperorYP7 commented on #160
I think #116 #115 and #112 is quite apt for this. We need to get it done ASAP and it will take around 2-3 hours.

[2020-10-07 10:18] #159 closed, assigned to nobody

[2020-10-07 10:21] ankiiitraj commented on #141
Do we've any progress here? @EricLiclair

[2020-10-07 13:22] tusharjain0022 commented on #158
working on it!! 🙌

[2020-10-07 15:46] SaravgiYash opened #163 "Community page remembers previous page scroll position"
### Description
When I open the community page it remembers the previous page scroll position.
### Screenshots/testimonials
![Capture](https://user-images.githubusercontent.com/64412143/95354641-43ea6d00-08e2-11eb-9d1f-2568685c40f0.JPG)

[2020-10-07 18:05] #108 closed, assigned to nobody

[2020-10-08 04:46] vishalvibes commented on #160
Go ahead @EmperorYP7

[2020-10-08 05:30] hariom1625 commented on #163
An alternate approach can be to open the targeted community in the new tab and I think than can be easily implemented.

[2020-10-08 05:32] hariom1625 commented on #163
An alternate approach/solution to this problem can be to open the targeted community in the new tab. And I think this might solve the issue.
Not the best way to tackle this issue, but if we already want to open the targeted community in the new tab then this issue won't arise.

[2020-10-08 16:21] ankiiitraj commented on #163
another way is to write a high order component that will wrap the routes and using effectHook on page mount we can scroll it back to the top

[2020-10-08 16:21] ankiiitraj commented on #163
Taking this up!

[2020-10-16 13:47] EmperorYP7 opened #165 "Fix the error routes"
### Description

The error route needs to be fixed in the back-end for smooth functioning of notice and other API fetch calls.

### Screenshots/testimonials

![image](https://user-images.githubusercontent.com/62606998/96265538-2e143080-0fe3-11eb-9e7f-deafa2f92ce2.png)

[2020-10-16 14:20] #160 closed, assigned to nobody

[2020-10-16 14:20] #119 closed, assigned to guptapranav4299

[2020-10-16 18:58] EmperorYP7 opened #167 "Add eventDate in the event model"
### Description

With reference to #116, backend should also be serving the event dates for it to be displayed on the event component. This should be defaulted to `Date.now()` and must be required for every event. We may also have the functionality of storing `endDate` to be more precise about event tenures etc. This is to be discussed further.

### Screenshots/testimonials
NA

[2020-10-16 20:21] #165 closed, assigned to nobody

[2020-10-16 21:13] ankiiitraj commented on #154
is this resolved? @EricLiclair @EmperorYP7 @hariom1625

[2020-10-16 21:14] ankiiitraj commented on #141
We need progress on this @EmperorYP7

[2020-10-16 21:17] #158 closed, assigned to nobody

[2020-10-16 21:18] ankiiitraj commented on #126
@tusharjain0022 Interested in implementing this?

[2020-10-17 18:46] tusharjain0022 commented on #126
working on it !! 🙌

[2020-10-17 18:49] #163 closed, assigned to nobody

[2020-10-17 18:52] EmperorYP7 commented on #116
Instead of having START and END fields, we may have EVENT DATE and COMMUNITY here linking each row with the corresponding eventLink. Working on it.

[2020-10-17 22:25] ankiiitraj commented on #167
didin't saw the discussion part 😅

[2020-10-17 22:25] #121 closed, assigned to nobody

[2020-10-18 04:38] EmperorYP7 commented on #167
No problem. I think we should implement the event page component as discussed in #116.

[2020-10-18 13:01] #167 closed, assigned to EmperorYP7

[2020-10-18 15:47] SaravgiYash opened #170 "House of Geeks Page link in Readme"
### Description
I guess https://houseofgeeks.netlify.app/ link should be there in readme

[2020-10-18 15:49] #170 closed, assigned to nobody

[2020-10-18 15:53] ankiiitraj commented on #42
Working on it

[2020-10-18 15:53] ankiiitraj commented on #154
Closing this!
Seem resolved

[2020-10-18 15:53] #154 closed, assigned to nobody

[2020-10-18 16:02] SaravgiYash opened #171 "The fixed HG logo on the top can be given some padding for mobile view"
### Description
There is no padding for width<425px
I guess I should have done this in issue #102

### Screenshots/testimonials
![hg](https://user-images.githubusercontent.com/64412143/96373312-5342a380-1189-11eb-86b1-e394c4842ff6.JPG)

[2020-10-19 15:14] #42 closed, assigned to nobody

[2020-10-20 08:16] ankiiitraj commented on #116
This sounds cool! You can start working!

[2020-10-20 11:54] tusharjain0022 commented on #125
I think placing appropriate logos for all the communities can be done in this issue itself . We'll be needing Logos of different communities for this.

[2020-10-20 19:25] tusharjain0022 commented on #141
Based on the info that we can get from the GitHub contribution list [API](https://api.github.com/repos/houseofgeeks/hg/contributors) (Profile pic , profile link , repo link, no. of contributions) , I've created few designs for this issue.

# 1
![Screenshot (8)](https://user-images.githubusercontent.com/59157988/96633866-8fcbe780-12ce-11eb-8d0a-3419e51e9d09.png)

![Screenshot (16)](https://user-ima

[2020-10-20 19:46] tusharjain0022 opened #173 "Create Design for Members Section"
### Description
<write your description> Create a design for Members section . Kindly go through the website  and make this in accordance with the present theme. The members section should contain the cards/details of the members of particular community. You should also make a design for mobile version.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[2020-10-20 19:57] ankiiitraj opened #174 "Create contact form endpoint on backend"
N/A

[2020-10-21 08:56] EmperorYP7 commented on #141
I would prefer 1 over 2. What do you all think? @hariom1625 @ankiiitraj @Vishal19111999 @EricLiclair

[2020-10-21 08:58] vishalvibes commented on #141
My vote goes to 2

[2020-10-21 09:00] EmperorYP7 commented on #141
Oops. missed it.

[2020-10-21 12:53] ankiiitraj commented on #125
@tusharjain0022 Go ahead and add the assets link in the description

[2020-10-21 12:56] ankiiitraj commented on #141
I will vote for 1 ~and on click on photo it should open my github profile in new tab.~
- On hover show my github username
- Below photo show my name
- Below that show icons of github, linkedin, mail or anything like facebook, insta

what do you say @Vishal19111999 @EmperorYP7

Really liked your work @tusharjain0022 🎉

[2020-10-21 22:37] ankiiitraj commented on #171
if you want you can go for it @Yashs911

[2020-10-22 05:27] #126 closed, assigned to nobody

[2020-10-22 06:29] ankiiitraj opened #178 "Improve the PR Template on front-end branch"
Currently, PR Template says
`solves issue #` but it should say `fixes #`.

[2020-10-22 07:21] Ampit opened #180 "Link to Code of Conduct is broken"
### Description
<write your description> The link to Code of Conduct in the contributing.md is broken and displays not found.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

[Image1](https://user-images.githubusercontent.com/2737004/96837871-125ebf00-1415-11eb-8641-370c427c2847.jpg)

[Image2](https://user-images.githubusercontent.com/2737004/96837994-3de1

[2020-10-22 08:10] ankiiitraj commented on #180
Go for it @Ampit

[2020-10-22 08:16] #178 closed, assigned to nobody

[2020-10-22 11:45] #171 closed, assigned to nobody

[2020-10-22 18:12] #180 closed, assigned to nobody

[2020-10-23 17:30] ankiiitraj opened #183 "By mistake I pushed directly to houseofgeeks/hg"
Apologies 😞

[2020-10-23 17:45] #174 closed, assigned to nobody

[2020-10-24 05:49] hariom1625 commented on #183
It's alright -:)

[2020-10-24 05:50] hariom1625 commented on #183
It's absolutely fine :-)

[2020-10-24 10:15] #183 closed, assigned to nobody

[2020-10-24 10:46] ankiiitraj opened #186 "What's remaining?"
- ~Members section #173~
 - ~Individual community section #125~
 - ~Contributors section #141 #98~
 - ~Events table section #107 #112 #115 #116~

**v2.0**
- Set up an S3 bucket and link it to the back end.

Add if there's more!

[2020-10-24 15:10] tusharjain0022 commented on #141
working on it 🙌

[2020-10-24 16:56] #43 closed, assigned to nobody

[2020-10-24 17:44] vishalvibes opened #187 "Add a warning before deleting anything in admin panel"
Add a warning (confirmation pop up) that comes before deleting anything in the admin panel

[2020-10-26 17:38] ankiiitraj commented on #187
Cool! working on it

[2020-10-26 18:30] EmperorYP7 commented on #186
I think we should assign every major issue to a maintainer and get it done ASAP. Improvements/enhancements will be done by making good first issues later on.

[2020-10-26 18:31] EmperorYP7 commented on #173
@hariom1625 want to go for it?

[2020-10-26 18:32] EmperorYP7 commented on #125
This might require some writeups. I'll be sharing the contents for each section shortly.

[2020-10-26 18:34] EmperorYP7 commented on #115
I am still on it. Hopefully, I'll get it done before the end of the month.

[2020-10-26 19:43] hariom1625 commented on #173
IMO we should ask @tusharjain0022 and @EricLiclair if they have any idea for the design of the member's section !!

Once the design will be finalized I will go for its implementation :-)

[2020-10-26 20:53] EmperorYP7 commented on #173
@EricLiclair was certainly working on one design. There was some confusion as to which members do we have to include to represent a community. We don't want to repeat members in the members page but we have to render them on two separate community page.

Apart from that, it is pretty straightforward.

[2020-10-27 06:19] #98 closed, assigned to nobody

[2020-10-27 06:19] #141 closed, assigned to nobody

[2020-10-27 08:24] ankiiitraj commented on #124
@Vishal19111999 Do you want to work on this?

[2020-10-27 14:16] #187 closed, assigned to nobody

[2020-10-29 16:37] tusharjain0022 opened #195 "Minor Updates for Home Page"
### Description-1
<write your description> I would suggest that here should be a `Know More` link below the events list in the notice corner on the home page that should redirect to the events page.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

![Screenshot (46)_LI](https://user-images.githubusercontent.com/59157988/97604869-313bf300-19cb-11eb-82ed-73f6

[2020-10-29 17:21] #112 closed, assigned to nobody

[2020-10-29 17:21] #115 closed, assigned to EmperorYP7

[2020-10-29 20:23] ankiiitraj commented on #195
we can make separate issues for these and mark it as `good first issues` and can circulate these issues to class groups.
This will be a great place to get in for new contributors!

[2020-10-30 05:39] tusharjain0022 opened #196 "Add a "Know More" link in the notice corner"
### Description
<write your description> I would suggest that here should be a `Know More` link below the events list in the notice corner on the home page that should redirect to the events page.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

![Screenshot (46)_LI](https://user-images.githubusercontent.com/59157988/97604869-313bf300-19cb-11eb-82ed-73f655

[2020-10-30 05:45] tusharjain0022 opened #197 "Add Heading on Communities Page"
### Description
<write your description> Heading/Title -"Communities of House of Geeks" for the Communities Page should be there when we visit the community component via navbar.

### Concerning Folder
https://github.com/houseofgeeks/hg/tree/front-end/client/src/components/Community

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

![Screenshot (47)](https:

[2020-10-30 05:49] tusharjain0022 opened #198 "Headings on the home page should be uniform"
### Description
<write your description> Heading on the Home page should be uniform as currently some headings are centered and some not or are of different font size.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

![Screenshot (51)](https://user-images.githubusercontent.com/59157988/97580577-ba91fc00-19b0-11eb-938f-378abcc054ba.png)
![Screenshot (52)](h

[2020-10-30 05:51] #195 closed, assigned to nobody

[2020-10-30 17:29] #196 closed, assigned to nobody

[2020-10-31 03:18] lixiaoqity commented on #197
Hi, I will try to fix this issue.

[2020-10-31 11:53] tusharjain0022 opened #202 "render a message when no events are available to show"
### Description
<write your description> This should print a message `no upcoming events` or `no events available` under the table when there is no events available to render on particular section. And align the columns  for both tables in similar manner by specifying the 'table-layout' property for the tables in css.

### Screenshots/testimonials
<place your screenshots or testimonials here if ap

[2020-10-31 12:10] tusharjain0022 opened #203 "[Events] Component to render all the details of a particular event"
### Description
<write your description>
We require a component that will be visited when we click on the name of any event from the events table and take event details of that particular event as prop and render its details with full description on a separate page.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>
NA

[2020-10-31 12:11] tusharjain0022 commented on #203
@EmperorYP7 , check the description and if you want to add or edit something to it.

[2020-10-31 12:32] EmperorYP7 commented on #203
We must also provide a rough wireframe/design for someone to get started with this. Although, we need to configure a bucket for storing banners and possibly a gallery later on. What do you think @ankiiitraj @tusharjain0022?

[2020-10-31 13:45] SaravgiYash commented on #198
@tusharjain0022 I would like to work on this issue.

[2020-11-01 09:41] #198 closed, assigned to SaravgiYash

[2020-11-01 13:14] EmperorYP7 commented on #124
We need to get this resolved before we officially release the website (v1.0).

[2020-11-01 13:21] EmperorYP7 commented on #78
Whats the progress on this?

[2020-11-01 19:01] ankiiitraj commented on #203
Agreed, but I think this will be overkill for such a small thing like an event! my opinion! your thoughts?

[2020-11-01 19:12] ankiiitraj commented on #78
I totally forgot about it! I'll now start working on it! Thanks for the remainder

[2020-11-01 19:15] ankiiitraj commented on #124
I'll get back with the possible solution from the internet!

[2020-11-01 19:42] EmperorYP7 commented on #203
I was thinking the same. Configuring the bucket should be the part of v2.0 of this website. (We'll possibly have the next cohort working on this)

[2020-11-04 13:22] #173 closed, assigned to nobody

[2020-11-04 13:58] ankiiitraj opened #205 "Make frontend constistent"
### Description
In order to merge #192, changes need to be made accordingly on the frontend!

Priority or target 2.0?

[2020-11-04 14:01] #107 closed, assigned to nobody

[2020-11-04 14:01] EmperorYP7 commented on #205
I think the individual community pages should be priority for v1.0. This issue can be covered in the next iteration of the website.

[2020-11-05 12:39] tusharjain0022 opened #206 "Render Members details of specific section in Community section also"
### Description
<write your description>
Render Members details of specific section below the details of community.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

![Screenshot (58)_LI](https://user-images.githubusercontent.com/59157988/98241843-604cea00-1f20-11eb-9f31-78ded23baffb.jpg)

## Expected :
![screencapture-localhost-3000-electronics-iot-2020-11

[2020-11-05 15:05] ankiiitraj commented on #206
The Code from the members component can be reused here!

[2020-11-05 19:02] tusharjain0022 commented on #206
working on it 🙌

[2020-11-06 08:47] #206 closed, assigned to nobody

[2020-11-06 08:57] ankiiitraj commented on #125
This remains!

[2020-11-08 04:29] #202 closed, assigned to nobody

[2020-11-19 19:16] ankiiitraj commented on #125
@EmperorYP7 provide the writeups here!

[2020-11-20 06:22] EmperorYP7 commented on #125
Completely forgot about this one! I'll get this done today.

[2020-11-23 07:42] #125 closed, assigned to nobody

[2020-11-23 16:28] #197 closed, assigned to lixiaoqity

[2020-11-23 16:36] EmperorYP7 opened #210 "Filling up the missing details"
### Description

We need to fill up the details for faculty in Members page and get all the missing pictures of members filled up. This will mark the final iteration of v1.1 where we declare the website across our handles.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>

![image](https://user-images.githubusercontent.com/62606998/99988730-dc2bab00-2dd7-11e

[2020-11-23 16:37] #116 closed, assigned to nobody

[2020-11-23 16:39] EmperorYP7 commented on #124
I think we should cover this in v2.0.

[2020-12-07 17:33] #210 closed, assigned to nobody

[2020-12-15 19:11] #186 closed, assigned to nobody

[2020-12-15 19:13] ankiiitraj opened #212 "Change default display picture of members!"
The current DP doesn't look formal. Change the DP to something formal!

[2020-12-15 19:14] ankiiitraj commented on #212
What do you say @EmperorYP7 @tusharjain0022?

[2020-12-16 05:19] EmperorYP7 commented on #212
Sure we can have it done only if we have decent enough pictures to replace the current ones with.

[2020-12-16 07:01] ankiiitraj commented on #212
Nope, I'm talking about the default DP i.e this one here
![](https://houseofgeeks.netlify.app/images/reddit.png)

[2020-12-16 07:08] ankiiitraj opened #213 "UI breaking until the events have not arrived"
### Description
A fix is to give the events component a min height of some pixels!

I tried with 700px and it worked!

![Screenshot from 2020-12-16 12-36-11](https://user-images.githubusercontent.com/48787278/102316254-9cea1780-3f9b-11eb-9d73-986774d23734.png)

[2020-12-16 13:05] EmperorYP7 commented on #212
Yea. It looks really funny.

[2020-12-16 13:06] EmperorYP7 commented on #213
That's a quick fix. I think we should fix this before releasing

[2020-12-17 14:35] EmperorYP7 opened #214 "Cleaning up the images folder"
### Description
<write your description> There is an obvious need to restructure or rather organise the [images folder](https://github.com/houseofgeeks/hg/tree/front-end/client/public/images) for better navigation and upgradability of members and other assets.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>
NA

[2020-12-19 04:41] vishalvibes commented on #124
@ankiiitraj can you give me more details on this? I would love to help

[2020-12-20 09:13] ankiiitraj commented on #124
@Vishal19111999 What we want here is to create two different bundles one with the admin part and another the main app.

[2020-12-21 06:08] tusharjain0022 commented on #212
How about this image, Can we replace that with this one?

<img src="https://user-images.githubusercontent.com/59157988/102744615-1e7cd500-430f-11eb-9f74-a7e7c03572d9.jpg" alt="abstract-user-flat-4" width="200" height="200" />

source : https://freesvg.org/users-profile-icon

[2020-12-21 06:56] tusharjain0022 commented on #213
working on it 🙌

[2020-12-21 07:21] ankiiitraj commented on #212
this looks good, what do you say @EmperorYP7  @hariom1625

[2020-12-21 07:55] hariom1625 commented on #212
The default DP does look a bit informal but it suits the website theme but since it is of Reddit mascot I don't know if we have the proper rights to use it therefore, IMO we should go with the one mentioned by @tusharjain0022 for now.

[2020-12-24 18:07] EmperorYP7 commented on #212
@tusharjain0022 you might add this in #215.

[2020-12-26 13:51] sb2356-iiitr commented on #214
I would like to contribute to this, will you please guide me through this? @EmperorYP7

[2020-12-26 14:01] EmperorYP7 commented on #214
@sb2356-iiitr for this, you need to restructure the [images folder](https://github.com/houseofgeeks/hg/tree/front-end/client/public/images) in such a way that members' images are in a directory called `Members` within the image directory (with further bifurcation of various communities), logos and various SVGs related to a specific page, say, the homepage could be moved to a directory named `HomeP

[2020-12-26 14:09] EmperorYP7 commented on #78
What about adding an AWS S3 instance for gallery and other files?

[2020-12-26 14:24] ankiiitraj commented on #78
So once the app is official, we will use the hg official mail to signup for these services.

[2020-12-26 14:31] ankiiitraj opened #216 "[Member] Set member image placeholder (fixed height)"
### Description
Add a default width and height to the wrapper of images. See the screenshot for the issue.

### Screenshots/testimonials
![Screenshot from 2020-12-26 19-57-30](https://user-images.githubusercontent.com/48787278/103153225-14e2e980-47b5-11eb-80f7-b7a00017c53b.png)

[2020-12-26 14:33] EmperorYP7 commented on #216
Should we address this in v2.0? or rather we can include this in #215 as a minor fix

[2020-12-26 14:34] ankiiitraj commented on #216
let it remain open for first-time-contributors

[2020-12-27 11:46] sb2356-iiitr commented on #214
Alright, thanks! I'm on it!

[2020-12-27 12:07] sb2356-iiitr commented on #214
I am having some problems in cloning the rep into my PC....any help on this?
![image](https://user-images.githubusercontent.com/69338695/103170419-82e2eb80-485d-11eb-9862-018c102f412d.png)

[2020-12-27 16:33] EmperorYP7 commented on #214
I think there's some problem with your internet connection. Also, keep in mind to not clone this in an existing git repository.

[2020-12-28 06:12] sb2356-iiitr commented on #214
I don't know...my internet connection is fast enough....trying with GUI

[2020-12-28 07:53] sb2356-iiitr commented on #214
I have made a pull request, requesting you to look into it.

[2020-12-28 08:01] sb2356-iiitr commented on #214
Ok looks like the images now need to be relinked in the pages....can anyone help me with that?

[2020-12-28 08:11] EmperorYP7 commented on #214
Sure, I've followed up on your PR's thread.

[2020-12-28 11:12] sb2356-iiitr commented on #214
Made the necessary changes, please check.
![image](https://user-images.githubusercontent.com/69338695/103210399-fdc00b00-491e-11eb-88af-61bcc56409bd.png)
![image](https://user-images.githubusercontent.com/69338695/103210422-0adcfa00-491f-11eb-9438-e8b307830526.png)
![image](https://user-images.githubusercontent.com/69338695/103210438-13353500-491f-11eb-8cd7-20bff3c6de9d.png)

[2020-12-28 18:03] ankiiitraj opened #218 "bug: App craches if github contributors fetching fails"
### Description
If the contributors fetching fails somehow, the whole app craches

[2020-12-28 18:31] ankiiitraj commented on #218
fixed with commit id: 1926928

[2020-12-28 18:31] #218 closed, assigned to nobody

[2020-12-28 18:52] #214 closed, assigned to sb2356-iiitr

[2020-12-29 20:02] #212 closed, assigned to nobody

[2020-12-29 20:09] EmperorYP7 commented on #213
Closing against #215

[2020-12-29 20:09] #213 closed, assigned to nobody

[2020-12-29 20:51] EmperorYP7 opened #220 "Event page is breaking"
### Description
<write your description> The event page is not behaving as expected. Here, the Upcoming Events section is correctly rendered. But the Past Events section is blank. This shouldn't be the case.

### Screenshots/testimonials
<img width="1440" alt="Screenshot 2020-12-30 at 1 41 44 AM" src="https://user-images.githubusercontent.com/62606998/103312822-33aadf80-4a44-11eb-9d79-47371f8cefa7

[2020-12-30 13:16] EmperorYP7 commented on #220
@ankiiitraj @tusharjain0022 @hariom1625 heads up!

[2020-12-31 07:19] hariom1625 commented on #220
On it!

[2020-12-31 08:26] #220 closed, assigned to nobody

[2020-12-31 09:50] ankiiitraj commented on #124
Dropping this because the admin panel might not be much of a burden on the bundle! What do you say?

[2020-12-31 09:52] ankiiitraj opened #222 "Change the format of Data on events"
### Description
Current format: mm/dd/yy
might be confusing for many.

Expected: dd/mm/yy

### Screenshots/testimonials
![Screenshot from 2020-12-31 15-20-42](https://user-images.githubusercontent.com/48787278/103405093-ed589c00-4b7b-11eb-8820-11ee8edb2db5.png)

[2020-12-31 10:49] EmperorYP7 commented on #124
Yes, I was thinking the same. But this might be reopened in the future.

[2021-01-02 11:24] #222 closed, assigned to nobody

[2021-01-04 06:20] ankiiitraj commented on #124
closing for now!

[2021-01-04 06:20] #124 closed, assigned to nobody

[2021-01-17 08:43] Gupta-Shrey855 commented on #216
hello @ankiiitraj
Is this issue is still opened?

[2021-01-17 08:44] ankiiitraj commented on #216
@Gupta-Shrey855 yup that's still open

[2021-02-09 06:44] EmperorYP7 opened #227 "[Members] Update position holders of communities"
### Description
<write your description> Since the community co-ordinators and heads of each community have been updated, it is necessary to reflect that in the website.

### Assets and elaboration

To be updated soon.

### Concerning files/folders

https://github.com/houseofgeeks/hg/tree/front-end/client/src/components/Members/Community

[2021-02-21 13:53] EmperorYP7 opened #228 "[Events] Adding the support for Google Calendar"
### Description
<write your description> Adding the support for Google Calendar will result in smoother functioning of various events and provide greater integration with our smartphones with timely notifications.

### Screenshots/testimonials
NA

[2021-02-26 10:40] ankiiitraj commented on #205
let's fix this! Has now been delayed for a long time!

[2021-02-26 11:20] EmperorYP7 commented on #205
@hariom1625 @tusharjain0022 what say?

[2021-04-05 13:29] EmperorYP7 opened #229 "[SEO] Add and Configure SEO"
### Description
Add [`react-helmet`](https://www.npmjs.com/package/react-helmet) and configure it to describe the website for improved SEO of the site. You probably can take a approach for making a separate component for the helmet and wrap the entire website with this component. (with a room for customization for each component/page)

### Screenshots/testimonials
NA

[2021-04-07 18:25] tusharjain0022 commented on #227
### Assets required for this issue -
#### Competitive Coding Members -
1. Sahil Gupta (Community Coordinator):
   photo - https://drive.google.com/file/d/1AHny-tEgzohH3m-y2fVOnYmDghN10lKh/view?usp=sharing
   email id - sahilgupta.btech.cs19@iiitranchi.ac.in
   linkedin - https://www.linkedin.com/in/sahil-gupta-765839122/
   github - https://github.com/Sahil-Gupta582

2. Saheb Kumar (Community Coor

[2021-06-11 10:09] #205 closed, assigned to nobody

[2021-06-11 14:55] EmperorYP7 opened #231 "[Frontend] Modify event API call ☕"
### Description

Modify the API call on the AboutUs page to fetch only the first five events sorted from most recent to past.

### Screenshots/testimonials
<place your screenshots or testimonials here if applicable>
<img width="1437" alt="Screenshot 2021-06-11 at 7 59 51 PM" src="https://user-images.githubusercontent.com/62606998/121702672-b950b200-caef-11eb-871d-c1feadcfb6d0.png">

[2021-06-16 20:43] EmperorYP7 opened #232 "[Admin] List of events not visible"
### Description

Modify the API call in Admin page to fix this error.

### Screenshots/testimonials

<img width="1440" alt="Screenshot 2021-06-17 at 2 07 55 AM" src="https://user-images.githubusercontent.com/62606998/122290492-6b81e280-cf11-11eb-966b-71f73d0bb5cc.png">

[2021-06-17 15:58] Nerfi commented on #232
hey there , is this still available ?
would like to give it a go !

[2021-06-17 16:28] EmperorYP7 commented on #232
Sure! Go ahead :smile:

[2021-06-18 15:09] Nerfi commented on #232
hey, can you give me a explanation of what do you really need/want in here ?

[2021-06-18 15:51] Nerfi commented on #232
Hey there, the description is not really clear to me, however I think that I sort out the problem we have.
I could render the list of 10 events that useEffect is calling throught this api get request `.get(`${process.env.REACT_APP_API || ''}/event/`)`, is this what you want it?
Also, is there a way I can get the admin credentials ? I logged out and now I can not log in again

thanks

[2021-06-24 11:15] cod500 commented on #231
Is this still available? Can I contribute and help the issue?

[2021-06-24 11:18] EmperorYP7 commented on #231
Yes, it is. Go ahead @cod500! :smile:

[2021-06-26 18:27] cod500 commented on #231
I examined the Json from the API. It seems as though it is already sorted from most recent upcoming event to past events at the API level so all this needs is a limit of 5 on the front end. Let me know if I am interpreting this incorrectly.

[2021-08-30 10:22] SrijanSriv commented on #231
Hi!

This has been implemented I think.

[2021-08-30 10:29] EmperorYP7 commented on #231
Yep. youre right @SrijanSriv. Closing this against #233

[2021-08-30 10:29] #231 closed, assigned to cod500

[2021-09-02 04:06] SrijanSriv commented on #227
Are these all the members that have to be appended for the site? I noticed that we formerly had Community Heads too and we don't anymore.
This will probably mean that a little tweaking would be required style wise.
@tusharjain0022

[2021-09-04 14:49] SrijanSriv opened #235 "[Members] Fix the CSS for certain Communities"
### Description
You would notice that there is a certain way of ordering members such that Community Heads are above the Coordinators and same level members are, well, at the same height. This is not the case with Competitive Coding Community.  Try to fix this.

### Screenshots/testimonials
<img src = "https://user-images.githubusercontent.com/79690889/132098361-fad1f6bc-c39d-464d-bb58-df727c72c89

[2021-09-04 14:51] SrijanSriv commented on #235
I tried to tackle this but to no avail. I feel like this is a good first issue though.

[2021-09-04 14:51] EmperorYP7 commented on #235
Yes, it is. Would you like to take this up?

[2021-09-04 14:53] SrijanSriv commented on #235
Naah I discussed with a few who rather would. I didn't in my own pr cuz I can't.

[2021-09-04 15:54] himanshu007-creator commented on #235
Hi, I would like to work on this issue, but when I opened the <a href ="https://houseofgeeks.netlify.app/members">member's page</a>, i was unable to spot the issue, maybe I am looking elsewhere, please help me out here

[2021-09-04 16:20] EmperorYP7 commented on #235
@himanshu007-creator apparently, the changes merged with #234 are not reflected in the main deployment of the website.

For reference look at [this comment](https://github.com/houseofgeeks/hg/pull/234#issuecomment-912990707).

[2021-09-04 18:13] abhishekrathi16 commented on #235
I have completed working on the issue, will create a PR for the same asap.

[2021-09-06 13:22] #235 closed, assigned to himanshu007-creator, abhishekrathi16

[2021-10-26 14:36] AK-codingmaniac commented on #216
hello @EmperorYP7 is this issue still open?

[2021-10-26 17:12] ankiiitraj commented on #216
@AK-codingmaniac this is open! feel free to pick it up

[2021-10-26 19:29] EmperorYP7 commented on #216
Yep. Go ahead!

[2021-10-28 07:37] AK-codingmaniac commented on #216
@EmperorYP7 I have submited the PR regarding it.Please see to it

[2021-10-28 08:46] #216 closed, assigned to AK-codingmaniac

[2021-10-28 09:08] tusharjain0022 opened #238 "[front-end] Fix JSON file .all-contributorsrc"
### Description
This project's configuration file has malformed JSON: .all-contributorsrc. Error:: Unexpected token : in JSON at position 5176

### Concerned File/Folder
`.all-contributorsrc` in root directory

### Screenshots/testimonials
Open the JSON in any code editor and you will find the error.

[2021-10-28 09:54] tusharjain0022 commented on #227
@EmperorYP7 @SrijanSriv  I think we need to reopen this issue as new Community leaders joined the House of Geeks.

[2021-10-28 11:09] #238 closed, assigned to nobody

[2021-10-29 06:36] SrijanSriv commented on #227
@tusharjain0022 agreed. But I feel like the batch prior to mine hasn't been up for too long. So I was hoping to reopen this issue once the next batch joins so the transition is consistent like the shift of batches(although we are already promoted to the next batch, still).

[2021-10-29 06:42] EmperorYP7 commented on #227
That's right

[2021-10-30 18:31] tusharjain0022 opened #245 "[front-end ] Replace "WebDev Team House of Geeks" text in footer"
### Description
- The text "WebDev Team House of Geeks" is misleading as it's a modal for a list of contributors of this repo.
- Styling should signify that it's clickable.
- Replacing Text should be "Contributors" or "Become a Contributor" etc.

### Screenshots/testimonials
![Screenshot from 2021-10-30 23-53-31](https://user-images.githubusercontent.com/59157988/139554220-b1196e2b-6ec2-4fef-b39c-

[2021-10-30 18:33] tusharjain0022 commented on #245
CC: @EmperorYP7 @SrijanSriv

[2021-11-01 10:00] AK-codingmaniac commented on #245
@tusharjain0022 I would like to take this issue

[2021-11-01 12:37] tusharjain0022 commented on #245
yeah, you can go ahead @AK-codingmaniac.

[2021-11-01 14:39] AK-codingmaniac commented on #245
@tusharjain0022 @EmperorYP7 I have created a PR regarding it.Please review it

[2021-11-01 15:31] #245 closed, assigned to nobody

[2021-11-02 10:34] tusharjain0022 opened #247 "Testing Github App Integration with Slack"
### Description
Testing Github App Integration with Slack

### Screenshots/testimonials
NA

[2021-11-02 10:35] tusharjain0022 commented on #247
Working Fine :+1:

[2021-11-02 10:36] #247 closed, assigned to nobody

[2022-01-05 07:17] EmperorYP7 opened #248 "[Members] Update the member list"
### Description
The nodal cabinet of House of Geeks is changed. Update the names and images of the new members.

[2022-01-05 07:19] EmperorYP7 commented on #248
Duplicate of #227

[2022-01-05 07:19] #248 closed, assigned to nobody

[2022-01-13 06:34] EmperorYP7 opened #249 "[HomePage] Add credits for the designer"
### Description

The website was designed by @ericliclair. Add the credits in the footer of the website.

### Screenshots/testimonials

NA

[2022-01-14 18:03] ashwani3011 commented on #249
I will like to do this work

[2022-01-14 18:04] ashwani3011 commented on #249
Should I procedd ahead

[2022-01-15 09:08] ashwani3011 commented on #249
I have made a pull request, kindly have a look.

[2022-01-15 14:00] #249 closed, assigned to nobody

[2022-01-20 11:15] SrijanSriv commented on #232
This issue was just changing `/events/all` to `/events`. Will make a pr soon.

[2022-01-20 11:17] SrijanSriv commented on #228
To add Google Calendar support, Google Console has to be set up, preferably by an id that is constant to the society(like `houseofgeeks@iiitranchi.ac.in`). Details would be required.

[2022-01-20 11:27] SrijanSriv commented on #203
I fidgeted through the ways of showing the details of an event, but it really isn't aesthetically fitting. The description is really small(as expected). I suggest that we modify the `/events` tab where the events can have their description right below them. Unless anyone has something else in mind? Paging @tusharjain0022 @EmperorYP7 .

What I could think of was just this bit already present in the

[2022-02-12 13:44] #232 closed, assigned to Nerfi

[2022-02-16 08:46] Abhinav200207 commented on #227
I would like to work upon this issue.

[2022-05-16 19:35] tusharjain0022 opened #256 "Typo in Nav Menu"
### Description
- Instead of 'Event', it should be 'Events' (refer Screenshot attached below)

### Steps to Reproduce
- visit https://houseofgeeks.netlify.app/
- open navbar menu

### Screenshots/testimonials

![Screenshot from 2022-05-17 01-01-40](https://user-images.githubusercontent.com/59157988/168668505-10ce9039-6a64-4c4a-965a-964c66eacd08.png)

[2022-05-16 19:41] tusharjain0022 opened #257 "Image Size Problem"
### Description
Images appearing oval rather than a circle

### Steps to Reproduce
- visit https://houseofgeeks.netlify.app/ on your mobile phone
- visit Members from the navbar menu

### Device used for testing
Redmi Note 9

### Screenshots/testimonials
![1652729974854](https://user-images.githubusercontent.com/59157988/168669484-868aa34e-c8a5-4a6e-8cfd-c88e4ef05a12.jpg)

[2022-05-16 19:41] KhanyaMateta commented on #256
I'm interested in helping... How can I get access to the code?

[2022-05-16 19:47] tusharjain0022 opened #258 "[Frontend] Webapp should have a gallery section"
### Description
- I would suggest that the hg webapp should have a gallery section containing all the images of past events conducted under House of Geeks
- Till Backend is not implemented, we can make this section static

### Screenshots/testimonials
NA

[2022-05-17 12:57] Milziade commented on #256
Pull request sent

[2022-05-17 18:41] BrendonW250 commented on #256
Hi I have also sent my pull request

[2022-10-13 09:49] #257 closed, assigned to nobody

[2022-10-13 09:53] SrijanSriv commented on #227
this issue should have been closed after @Abhinav200207 merged his pr (thanks @Abhinav200207 ) but we shall continue to yet again update the position holders. @abhishekrathi16 requested assignment of this issue.

[2022-10-13 09:56] abhishekrathi16 commented on #227
I'll be taking up the issue then, kindly provide the new files required for updating the placeholders @SrijanSriv

[2022-10-13 11:21] SrijanSriv commented on #227
dear abhishek
go fish
🙂

[2022-10-19 18:49] SrijanSriv opened #267 "[Feature] Add calendly office hours feature"
### Calendly
It should be handy to get a quick way of scheduling a 1 to 1 session with any position holder at the site itself. Try Calendly for that.

[2022-10-29 11:36] EricLiclair opened #271 "update the calendly link"
### Description
The calendly link has been update to `https://calendly.com/houseofgeeks/30min`
Update the url prop [here](https://github.com/houseofgeeks/hg/blob/6660b6cc51cd4cdfa6041daa9a2c1431a3a98d2b/client/public/index.html#L149)

[2022-10-29 11:46] #271 closed, assigned to nobody